{% if page.redirect %}
<script>location.href='{{page.redirect}}';</script>
{% endif %}

<head>
  {% include analytics.html %}

{% assign title = page.title %}
{% assign thumbnail = "/static/assets/images/meta-logo.jpg" %}
{% assign urlprefix = site.baseurl %}
{% assign description = site.description %}
{% assign slash = "" %}
{% assign creator = site.title %}

{% if page.description %}
{% assign description = page.description | strip_html  %}
{% endif %}

{% if page.subtitle %}
{% assign description = page.subtitle | strip_html  %}
{% endif %}

{% if page.thumbnail %}
{% assign thumbnail = page.thumbnail %}
{% endif %}

{% if page.metaimage %}
{% assign thumbnail = page.metaimage %}
{% endif %}

{% if page.layout == "member" %}

{% assign title = page.title | prepend: " " | prepend: page.prefix %}

{% if page.sufix %}
{% assign title = title | append: ", " | append: page.sufix %}
{% endif %}

{% assign description = page.role | strip_html %}
{% assign thumbnail = page.metaimage | prepend: '/' %}

{% endif %}





{% if page.layout == "blog-post" %}
{% assign description = page.content | strip_html %}
{% assign description = description | strip_newlines %}
{% assign description = description | slice: 0,300 %}
{% assign description = description | append: " ..." %}

{% assign creator = page.author %}
{% for member in site.pages reversed %}{% if member.contact == creator %}
{% assign creator = member.title %}
{% endif %}{% endfor %}

{% endif %}

{% if page.layout == "page-blog" %}

{% assign blog_post_cnt = 0 %}

{% for post in site.posts %}
{% if post.visible %}
{% if post.categories contains 'blog' %}

{% assign blog_post_cnt = blog_post_cnt | plus:1 %}

{% if blog_post_cnt == 1 %}



{% assign title = post.title %}

{% assign description = post.content | strip_html %}
{% assign description = description | strip_newlines %}
{% assign description = description | slice: 0,300 %}
{% assign description = description | append: " ..." %}

{% assign creator = post.author %}
{% for member in site.pages reversed %}{% if member.contact == creator %}
{% assign creator = member.title %}
{% endif %}{% endfor %}

{% assign thumbnail = post.thumbnail %}



{% endif %}

{% endif %}
{% endif %}
{% endfor %}

{% endif %}

<title>{{ title }} - {{ site.title }}</title>
<meta charset="utf-8">

<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta id="lang_meta" name="language" content="{{ page.language }}">

<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">
<meta name="thumbnail" content="{{site.url}}{{ thumbnail }}">

<meta name="twitter:card" content="{{ title }}">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:creator" content="{{ creator }}">
<meta name="twitter:image" content="{{site.url}}{{ thumbnail }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">

<meta property="og:title" content="{{ title }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="page" />
<meta property="og:url" content="{{site.url}}{{page.permalink}}" />
<meta property="og:image" content="{{site.url}}{{ thumbnail }}" />
<meta property="og:description" content="{{description}}" />


{% if site.url != "https://symphony.iohk.io" %}
<meta name="robots" content="noindex,nofollow" />
{% endif %}

<script>(function(){document.documentElement.className='js'})();</script>
<script>
var buster = {{ site.time | date: '%s' }};
var form_submit = false;
var lowie = false;
var lowerie = false;
var webglIE = true;
var IE = false;
var iolang = '{{ page.language }}';
var servername = 'iohk.io';
var requesturi = '/';
var homeurl = '{{ site.url }}';
var sitename = '{{ site.title }}';
var homename = '{{ page.title | smartify }}';
var temppath = '/js/globe/';
var pageslug = '{{ page.slug }}';
var teampage = 'team';
var jobspage = 'careers';
var projectspage = 'projects';

var iolab_read_more = 'Read more';
var iolab_link = '{{ site.data.i18n[page.language].link }}';
var iolab_open = '{{ site.data.i18n[page.language].open }}';
var iolab_close = '{{ site.data.i18n[page.language].close }}';
var iolab_back = '{{ site.data.i18n[page.language].back }}';

var iolab_share_on_Twitter = '{{ site.data.i18n[page.language].share_on_Twitter }}';
var iolab_share_on_Facebook = '{{ site.data.i18n[page.language].share_on_Facebook }}';
var iolab_share_on_LinkedIn = '{{ site.data.i18n[page.language].share_on_LinkedIn }}';
var iolab_share_on_Google_Plus = '{{ site.data.i18n[page.language].share_on_Google_Plus }}';
var iolab_share_on_Reddit = '{{ site.data.i18n[page.language].share_on_Reddit }}';

</script>
<script>
var lowerie = false;
var permalink = '{{page.permalink}}';
var rm_labels = new Object();
rm_labels['en'] = new Object();
rm_labels['en']['days'] = '{{site.data.i18n['en'].days}}';
rm_labels['en']['hours'] = '{{site.data.i18n['en'].hours}}';
rm_labels['en']['minutes'] = '{{site.data.i18n['en'].minutes}}';
rm_labels['en']['seconds'] = '{{site.data.i18n['en'].seconds}}';
rm_labels['en']['readmorein'] = '{{site.data.i18n['en'].readmorein}}';
rm_labels['cn'] = new Object();
rm_labels['cn']['days'] = '{{site.data.i18n['cn'].days}}';
rm_labels['cn']['hours'] = '{{site.data.i18n['cn'].hours}}';
rm_labels['cn']['minutes'] = '{{site.data.i18n['cn'].minutes}}';
rm_labels['cn']['seconds'] = '{{site.data.i18n['cn'].seconds}}';
rm_labels['cn']['readmorein'] = '{{site.data.i18n['cn'].readmorein}}';
rm_labels['jp'] = new Object();
rm_labels['jp']['days'] = '{{site.data.i18n['jp'].days}}';
rm_labels['jp']['hours'] = '{{site.data.i18n['jp'].hours}}';
rm_labels['jp']['minutes'] = '{{site.data.i18n['jp'].minutes}}';
rm_labels['jp']['seconds'] = '{{site.data.i18n['jp'].seconds}}';
rm_labels['jp']['readmorein'] = '{{site.data.i18n['jp'].readmorein}}';
rm_labels['kr'] = new Object();
rm_labels['kr']['days'] = '{{site.data.i18n['kr'].days}}';
rm_labels['kr']['hours'] = '{{site.data.i18n['kr'].hours}}';
rm_labels['kr']['minutes'] = '{{site.data.i18n['kr'].minutes}}';
rm_labels['kr']['seconds'] = '{{site.data.i18n['kr'].seconds}}';
rm_labels['kr']['readmorein'] = '{{site.data.i18n['kr'].readmorein}}';

</script>
<link rel="icon" href="{{ '/images/favicon.ico' | prepend: urlprefix }}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

<style>
{% include css/jquery-ui.css %}
{% include css/melon.datepicker.css %}
{% include css/app.css %}
{% include css/fa.css %}
{% include css/simple-line-icons.css %}
{% include css/base.css %}
</style>


<link rel="stylesheet"  href="{{ "/static/assets/css/rd.css" | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}" type="text/css" media="all" />

<link rel="stylesheet"  href="{{ "/static/assets/css/site.css" | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}" type="text/css" media="all" />
<link rel="stylesheet"  href="{{ "/static/assets/css/symphony.css" | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}" type="text/css" media="all" />
<link rel="stylesheet"  href="{{ "/static/assets/css/gource.css" | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}" type="text/css" media="all" />


<!--[if IE]>
<script>IE = true;</script>
<![endif]-->

<!--[if lte IE 11]>
<script>webglIE = false;</script>
<![endif]-->

<!--[if lte IE 10]>
<script src="{{ "/static/assets/js/lowie.js" | prepend: site.baseurl }}"></script>
<![endif]-->

<!--[if lt IE 9]>
<link rel="stylesheet"  href="{{ "/static/assets/css/ie.css" | prepend: site.baseurl }}" type="text/css" media="all" />
<script src="{{ "/static/assets/js/html5.js" | prepend: site.baseurl }}"></script>
<![endif]-->
<!--[if lt IE 8]>
<script>lowerie = true;</script>
<script>location.href='http://iohk.io/old-browser.html';</script>
<link rel="stylesheet"  href="{{ "/static/assets/css/ieoff.css" | prepend: site.baseurl }}" type="text/css" media="all" />
<![endif]-->

<script>
{% include js/app/jquery.js %}
{% include js/app/jquery-ui.js %}
{% include js/app/app.js %}
{% include js/blazy.js %}
{% include js/intro/hammer.min.js %}
{% include js/intro/StartAudioContext.min.js %}
{% include js/showdown.min.js %}
{% include js/jquery.fancybox.js %}
{% include js/app/base.js %}
{% include js/jquery.mousewheel.min.js %}
{% include js/team.js %}
{% include js/history.js %}
{% include js/history.adapter.jquery.js %}
{% include js/intro/intro.js %}
{% include js/app/roadmap.js %}
{% include js/app/functions.js %}
</script>

<script type="text/javascript" src="//gource.iohk.io/client/build/static/js/gource.main.js?bust={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="{{ '/static/assets/js/logo.main.js' | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="{{ '/dist/static/js/app.js' | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}"></script>

</head>
