
                    <div class="container">
                    <div class="sitemap_foot">
                    <div class="row">
                        <div class="col-md-8 col-sm-24 col-xs-24 logocol">

                            <a class="navbar-brand" href="{{ site.baseurl }}/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{site.title}}</a>
                            <br><br>


                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">


                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="wrap">
                                <ul>
                                  <li class="home"><a href="/">Home</a></li>
                                  <li class="roadmap"><a href="/roadmap/">Roadmap</a></li>
                                	<li class="team"><a href="/team/">Team</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="wrap">
                              <ul>
                                <li class="github"><a href="//github.com/input-output-hk/symphony" target="_blank">Github</a></li>
                                <li class="documentation"><a href="//github.com/input-output-hk/symphony#api" target="_blank">Documentation</a></li>
                                <li class="documentation"><a href="//github.com/input-output-hk/symphony/issues" target="_blank">Issues</a></li>
                              </ul>
                          </div>


                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="wrap footer-social-networks">
                          {% include ui-social-networks.html %}
                          </div>

                        </div>
                        <div class="clear nodesktop"></div>

                    </div>
                    </div>
                    </div>
