<div class="navbar-fixed-top secondary-nav">
	<div class="container">
		<div class="row">
			<div class="uppercase navbar pull-right">
				<ul class="subpages nav navbar-nav pd0 fullwidth">
					<li class="about"><a class="" href="{{ site.baseurl }}/about/">{{ site.data.i18n[page.language].about }}</a></li>
					<li class="team"><a class="" href="{{ site.baseurl }}/team/">{{ site.data.i18n[page.language].team }}</a></li>
					<li class="contact"><a class="" href="{{ site.baseurl }}/contact/">{{ site.data.i18n[page.language].contact }}</a></li>
					<li class="video"><a class="" href="{{ site.baseurl }}/video/">Video</a></li>
					<li class="press"><a class="" href="{{ site.baseurl }}/press/">Press</a></li>
					<li class="msa"><a class="" href="{{ site.baseurl }}/msa/">MSA</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>