
		<li><a class="cardano" href="{{ site.baseurl }}/projects/cardano/">Cardano</a></li>
		<li><a class="daedalus" href="{{ site.baseurl }}/projects/daedalus/">Daedalus</a></li>
		<li><a class="ethereum-classic" href="{{ site.baseurl }}/projects/ethereum-classic/">Ethereum Classic</a></li>
		<li><a class="qeditas" href="{{ site.baseurl }}/projects/qeditas/">Qeditas</a></li>
		<li><a class="scorex" href="{{ site.baseurl }}/projects/scorex/">Scorex</a></li>
		<li><a class="rscoin" href="{{ site.baseurl }}/projects/rscoin/">RS|coin</a></li>
