html{background:#121327}
body{background:#121327;color:#eee;  font-family: 'Montserrat', sans-serif;;font-weight:300;line-height:1.5}

.ui-widget {
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}

a{color:#1dd2d4}

small{font-weight: 400}
.roboto{font-family: 'Roboto';text-transform: none}


.btn{background:transparent;color:rgba(255,255,255,.7);border-color:rgba(255,255,255,.5);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.rounded{-moz-border-radius:100px;-webkit-border-radius: 100px;border-radius: 100px;}

.label a{color:#333;text-shadow:#000 0 0 2px;}
.label a:hover{text-decoration: none}

h3,h4,h5,h6{font-weight: 400}
h1,h2,h3,h4,h5,h6{text-transform: uppercase;font-size: 110%;margin:1.3em 0}
h1,.about h2{text-align: center;font-size: 140%;margin:2em 0}
h2{font-weight:500}

pre.highlight{margin-bottom: 10px}

.form-control[type=text]{background:#fff;}

p{font-size: 100%;line-height:1.6;}
blockquote{background:#171c31;font-size: 100%;padding:30px;border-radius:3px;text-align: center;margin:0 20% 0 20%;border:1px solid #1c2c43}
blockquote p{font-size: 100%;line-height:1.6;}

#navbar{background:transparent;border:0;position:relative;z-index:20;-webkit-transition: top 2.3s;-moz-transition: top 2.3s; -o-transition: top 2.3s; transition: top 2.3s;}
#navbar .navbar-brand{padding:0;}

#navbar .nav li a{font-weight: 400;letter-spacing: 0.12em;text-shadow:rgba(0,0,0,0.8) 0 1px 8px}
#navbar .nav li a:visited{color:rgba(255,255,255,0.5)}


#page.team #navbar .nav li.team a,
#page.roadmap #navbar .nav li.roadmap a,
#page.about #navbar .nav li.about a,
#page.contact #navbar .nav li.contact a,
#page.faq #navbar .nav li.faq a,
#page.docs #navbar .nav li.docs a,

#navbar .nav li a:active,
#navbar .nav li a:focus,
#navbar .nav li a:hover{color:#1dc1c3}

#navbar .navbar-toggle{border:0;padding:18px}

@media (min-width:768px){

#page{padding:300px 0 0 0}
#page.home,#page.home-page{padding:0 0 0 0}

#navbar {min-height:100px;margin-top:0px}
#page.home #navbar {min-height:100px;margin-top:70px}
#navbar .navbar-brand{position: absolute;margin:-250px 0 0 -100px;left:50%}
#page.home #navbar .navbar-brand{position: absolute;margin:-57px 0 0 -57px;left:auto}
#navbar .navbar-brand,.navbar-brand #logo-stage,.navbar-brand #logo-root{width:200px;height:200px;}
    #navbar .navbar-brand{pointer-events: none}
    #navbar .navbar-brand #logo-stage {pointer-events: auto}

#navbar #menu-top li:before {line-height:93px;content:"•";font-size:290%;display:inline-block;float:left;color:rgba(255,255,255,0.5) }
#navbar #menu-top li a{line-height:50px;padding-right:10px;padding-left:18px}
#navbar #menu-top li.hr .line{vertical-align: bottom;border-bottom:1px solid rgba(255,255,255,0.5);opacity: 1;line-height:auto;width:160px;height:50px;display: inline-block;margin:0 -2px}
#page.home #navbar #menu-top li.hr .line{width:120px}

#navbar  #menu-top li.home a{background:rgba(18,23,38,0.7);
    box-shadow: 1px -1px 1px rgba(109,210,212,0.6), 1px -1px 2px rgba(109,210,212,0.8), -1px 1px 3px rgba(209,210,212,0.8), -1px 1px 1px rgba(125,210,212,0.8);
    color:rgba(255,255,255,1);text-shadow: none;
    display: inline-block;height: 30px;line-height:30px;width:30px;padding: 0;border-radius: 30px;margin:34px 10px 0 0}
#navbar  #menu-top li.home:before{display: none}

#page.home #navbar  #menu-top li.home a{display: none}
#page.home #navbar  #menu-top li.home {width:80px;height:70px}
}

@media (min-width:992px){
#navbar #menu-top li.hr .line{width:380px}
#page.home #navbar #menu-top li.hr .line{width:340px}
}

@media (min-width:1200px){
#navbar #menu-top li.hr .line{width:580px}
#page.home #navbar #menu-top li.hr .line{width:540px}
}

.block.title{pointer-events: none;padding:0px 0 0 20px;text-align: left;font-size: 100%;position:absolute;top:270px;left:0;width: 100%;z-index:9;-webkit-transition: top .5s;-moz-transition: top .5s; -o-transition: top .5s; transition: top .5s;}
#page.home .block.title{top:40px;}
.block.title h1{font-weight:300;font-size: 140%;letter-spacing: 0.2em;margin:0;text-shadow:#fff 0 0 3px}
.block.title h1 a{color:rgba(255,255,255,0.8)}
.block.title h1 b{font-weight:400;}
.block.title h1 .dot{font-size:155%;vertical-align:baseline;display:inline-block;text-align: center;}

.block.title span,.block.title b{display: inline-block;}
.block.title .site{width:49%;border:0 solid #fff}
.block.title .title{width:48.7%;}
.block.title .dot{width:2.2%;}
.block.title .site{text-align:right}
.block.title .title{text-align:left}


@media (max-width:1199px){
.block.title .site{width:48%;}
.block.title .title{width:47%;}
.block.title .dot{width:4.4%;}
}


@media (max-width:767px){
#page{background-size:140%;background-position-y:-150px }
.navbar-brand{margin-left: -10px}

#page.home .block.title,
.block.title{position: absolute;top:27px;}
.block.title{font-size: 80%}

.navbar-toggle { margin-top: 14px; margin-right:0px; margin-bottom: 10px; border: 0;position:relative;z-index:9999999}
.navbar-toggle:hover,
.navbar-toggle:focus{background: transparent !important}

.navbar-brand{position:relative;z-index:9999999;margin:-10px 0 0 -20px}
.navbar-brand #logo-stage,.navbar-brand #logo-root{width:100px;height:100px;}
.navbar-brand img{width:75px;height: auto;}
.navbar-toggle .fa {color:#fff;font-size:130%;line-height: .65}

.navbar-toggle .fa-bars{display: none}
.navbar-toggle.collapsed .fa-times{display: none}
.navbar-toggle.collapsed .fa-bars{display: inline}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color:transparent;}
.navbar-collapse{margin:0 0 0 -15px}

.navbar-collapse{background:rgba(18,20,40,.95);padding-top:50px;position:fixed;z-index:999999;width:100%;height:100%;max-height: 100%;top:0;left:15px;border:0;vertical-align:middle}
.navbar-collapse ul{  height:95%;    display: -webkit-box;  display: -moz-box;  display: -webkit-flexbox;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-orient: vertical;  -moz-box-orient: vertical;  -webkit-box-direction: normal;  -moz-box-direction: normal;  -webkit-flex-direction: column;  -ms-flex-direction: column;  flex-direction: column;  -webkit-box-pack: center;  -moz-box-pack: center;  -webkit-flex-pack: center;  -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-flex-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;  }
.navbar-collapse li{padding:5px 0;}

}

@media (max-width:499px){
#page{background-size:120%;background-position-y:-60px }

#page.home .block.title,
.block.title{top:20px;}
.block.title .site, .block.title .title{text-align:center;line-height:1.1;width:80%;font-size: 85%;margin:0 10% 0 10%}
.block.title .dot{display:none !important}
}

.videoframe {position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 0px; height: 0;margin-bottom:20px}
.videoframe iframe {position: absolute;top: 0;left:0;width: 100%; height: 100%;}


.plainmodal .close{position:absolute;right:-20px;color:#fff;text-shadow: #000 0 0 0;opacity:0.5}
.plainmodal .modal-content{border-radius:0;width:702px;height:397px}
.plainmodal .modal-content iframe{width:700px;height:395px}


textarea,
.form-control,
input[type=text]{color:#333;border-color:#999;-webkit-border-radius: 00px;border-radius:00px;}
.input-group-addon{background:#111;border-color:#999;}

textarea:focus,
.form-control:focus,
input[type=text]:focus{border-color:#999;border-top:2px solid #00aeff;
box-shadow:0 0 0 transparent;
-o-box-shadow:0 0 0 transparent;
-moz-box-shadow:0 0 0 transparent;
-webkit-box-shadow:0 0 0 transparent;
}


.entry{font-size:80%;position: relative;}
.entry.centerline h2{text-align: left}
.entry.centerline .item{background:url('/static/assets/images/timeline.svg') repeat-y 0;padding:30px 0 30px 20px}
.entry.centerline .item .gallery{margin:-3px 0 0 0}
.entry.centerline .item .gallery .thumbnail{display: inline-block;vertical-align: top;padding:0;margin:0 10px 0 0;background: transparent;border: 0;}
.entry.centerline .item .gallery .thumbnail img{border:1px solid #243d5a;border-radius: 4px;margin:0 0 5px 0}
.entry.centerline .item .gallery .thumbnail caption{padding:5px 0 0 0}
.entry.centerline .item h5{font-style: italic;text-transform: none;}
.entry.centerline .item h3,.entry.centerline .item h5{margin-top:0;}

.entry.centerline .item.final{text-align: center;margin:4em 0 0 0;text-transform: uppercase}
.entry.centerline .item.final .hr{position: relative;vertical-align: bottom;top:-25px;display: inline-block;border-color:rgba(255,255,255,0.5);margin:0;left:0;opacity: 0.3;width:300px}
.entry.centerline .item.final .hr:before,.entry.centerline .item.final .hr:after{color:rgba(255,255,255,0.5);}
.entry.centerline .item.final .tit{padding:12px 10px 0 0;letter-spacing:0.1em;opacity:0.3;vertical-align: top;line-height: 1;}
.entry.centerline .item.final .github{font-size: 300%;padding:0 70px 0 10px;margin: -10px 0 0 0}
.entry.centerline .item.final .hr:before{float:left;}

.entry.centerline .item .hr{border-top:1px solid #0bdcf9;width:20px;margin:0 0 0 -10px;opacity: 1;position:absolute;left:0;}
.entry.centerline .item .hr:before,.entry.centerline .item .hr:after{line-height:0;content:"•";color:#0bdcf9;font-size:280%;display:inline-block;vertical-align:top;margin:-3px 0 0 -3px}
.entry.centerline .item .hr:after{float:right;margin:-3px -3px 0 0}

@media (min-width:768px){
.entry.centerline h2{text-align: center}
.entry.centerline .item .info,.entry.centerline .item .gallery{width: 50%;float: left;}
.entry.centerline .item.mirrored .info,.entry.centerline .item.mirrored .gallery{width: 50%;float: right;font-size: 90%}

.entry.centerline .item .hr{border-top:1px solid #0bdcf9;width:120px;margin:0 0 0 -60px;opacity: 1;position:absolute;left:50%;}
.entry.centerline .item .hr:before,.entry.centerline .item .hr:after{line-height:0;content:"•";color:#0bdcf9;font-size:280%;display:inline-block;vertical-align:top;margin:-3px 0 0 -3px}
.entry.centerline .item .hr:after{float:right;margin:-3px -3px 0 0}

.entry.centerline .item{background:url('/static/assets/images/timeline.svg') repeat-y center;padding:30px 0}
.entry.centerline .item.mirrored{}

.entry.centerline .item .info{padding: 0 80px 0 0}
.entry.centerline .item .gallery{padding: 0  0 0 90px}
.entry.centerline .item.mirrored .info{padding:  0 0 0 90px}
.entry.centerline .item.mirrored .gallery{padding: 0 90px 0 40px;text-align: right}
.entry.centerline .item.mirrored .gallery .thumbnail{margin:0 0 0 10px }
.entry.centerline .item .hr img{position: absolute;left:50%;margin:-8px 0 0 -8px}
}

@media (max-width:767px){
.entry.centerline .item .hr img{margin:-22px 0 0 5px;width:11px;height:11px;}
.entry.centerline .item .hr:before,
.entry.centerline .item .hr:after{display: none}
}





#main .fader{opacity:0; }
#main .navbar{ margin-bottom: 0px;}


#main .profile{ padding:30px 0;}

@media (min-width:768px){
#main .profile{ padding:30px 0;float:none;vertical-align:top;text-align: left;}
#main #team-load{background:url('/static/assets/images/timeline.svg') repeat-y center;}
#main .profile .img{width:50%;float:left;}
#main .profile .content{width:40%;float:left}
#main .profile .img{text-align: right;padding: 0 50px 0 0}
#main .profile .content{margin: 0 0 0 6%;pointer-events: auto;position: relative;z-index:19;background:rgba(18,23,38,0.6);border:0 solid rgba(255,255,255,0.3);padding:20px 20px;box-shadow: 0 0 3px rgba(255,255,255,0.4), 0 5px 10px rgba(18,23,38,0.6);-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#main .profile .content .glow{margin:-32px 0 0 0;position:absolute;}


}


#main .profile .info .summary{display: block}
#main .profile .info .full{display: none}
#main .profile .info.full .summary{display: none}
#main .profile .info.full .full{display: block}

#main .profile .info a{text-decoration: none;font-style:italic;font-weight:300;font-size:90%}
#main .profile .info a .icon-arrow-up,
#main .profile .info a .icon-arrow-down{font-size: 77%;padding: :0 0 0 1px}


#main .profile .info img{display: none}
#main .profile .role{font-style: italic;font-weight: 400}
#main .profile .role br{display: none;}
#main .profile .role span{opacity: .6;display: inline-block;margin: 0 0 0 4px}
#main .profile .role span:before{content:"/ ";font-size:80%;opacity: .6;padding-right:3px}
#main .profile hr{margin:15px 40% 15px 0;border-top:1px dashed rgba(255,255,255,0.7);}




#main .profile .link {width: 108px;border-top:1px solid #1dd2d4;margin:75px 0 -60px 414px;position:absolute;text-align:center;z-index:20}
#main .profile .link img{position: absolute;margin:-8px 0 0 -11px}
#main .profile .link:before,
#main .profile .link:after{content:"•";float:right;display:inline-block;line-height:1px;color:#1dd2d4;margin:-3px -2px 0 0;font-size:160%}
#main .profile .link:before{float:left;margin-left:-2px}

@media (max-width:1199px){
#main .profile .link {width: 106px;margin:75px 0 -60px 409px;}
}
@media (max-width:991px){
#main .profile .link {width:93px;margin:75px 0 -60px 299px;}
#main .profile .link img{position: absolute;margin:-8px 0 0 -3px}
}
@media (max-width:767px){
#main .profile .link {display:none}
#main .profile .img{margin:0 0 20px 0}
}



#main .profile h4,
#main .profile h2{letter-spacing:0;font-size:110%;text-align:left}
#main .profile h2{margin:00 0 4px 0;font-weight:500;text-transform: uppercase;letter-spacing: 0.15em}
#main .profile h4{letter-spacing:1px;font-size:100%; margin:0 0 5px 0;font-weight:400; line-height: 1.3;min-height:2.6em;text-transform: uppercase;}
#main .profile h4 span{opacity:.4}
#main .profile:hover h2 a{color:#00aeff}
#main .profile .bio{margin:40px 0 0 0}
#main .profile .btn-default{opacity:.8;}
#main .profile .btn-default:hover{opacity:1;}
#main .profile .img-circle{background:rgba(0,0,0,0.25);border:1px solid rgba(30,210,210,0.6);padding:5px; width: 150px !important; height: 150px !important;-webkit-transition: border .5s;-moz-transition: border .5s; -o-transition: border .5s; transition: border .5s;}
#main .profile a:active .img-circle,
#main .profile a:focus .img-circle,
#main .profile a:hover .img-circle,
#main .profile:hover .img-circle{border:1px solid #00aeff}
#main .profile.founder .img-circle{border:1px solid #eee;padding:5px; width: 100% !important; height: 100% !important}
#main .profile.founder .founder_tit{ margin: 15px 0}
#main .profile.founder .finger_print{ margin: 15px 0 0 0}

#main .profile .social{margin:0 0 0 0}
#main .profile .social a{font-size:150%;display: inline-block;margin: 0 5px 0 0}
#main .profile .social a .fa{vertical-align:middle}

#main .profile .social a.linkedin{background:#1887FF}
#main .profile .social a.twitter{background:#5AAAFB}
#main .profile .social a.gplus{background:#BB0F16}
#main .profile .social a.facebook{background:#3A579D}

#main .profile .member_articles .show_button{float:right}
#main .profile .member_articles .show_button b{ height: 16px;width: 16px;line-height: 16px;text-align: center;
background:#00aeff;position:absolute;display: block;font-size: 93%;margin:0 0 0 23px;
-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius:20px;color:#fff;}
#main .profile .member_articles .show_button em{font-size: 300%;color:#fff;}

#main .profile .member_articles.showing .show_button{display: none;}
#main .profile .member_articles.showing .article_list{display: block;}
#main .profile .member_articles.showing .article_list .date{text-transform:uppercase;font-size:85%;}
#main .profile .member_articles.showing .article_list h3 a{font-size:85%;line-height:1.2;color:#fff;}

#main .profile hr{clear:none}
#main .profile #io_data_globe{width:150px !important;height:150px !important;padding:0}
#main .profile #io_data_globe-box{position: relative;width:150px;height:150px;margin:0;float:right}

#main .profile #io_data_globe-marker{position:relative;margin:-1px 0 0 -9px}

@media (max-width:992px){
#main .profile #io_data_globe-box{display:none}
}
@media (max-width:768px){


#main .profile hr{display:none}
#main .profile #io_data_globe-box{top:150px;right:100px}
#main .profile #io_data_globe-marker{top:234px;left:142px;margin:-12px 0 0 -11px}
}
@media (max-width:530px){
#main .profile #io_data_globe-box{display:none}
}






#morecontent-modal-body .list {padding:0;list-style-type: none;font-size:116%}
#morecontent-modal-body .list li{padding:0px 0 8px 0}
#morecontent-modal-body .list li a{color:#fff;text-decoration:none}
#morecontent-modal-body .list li+li{border-top:1px solid #555;padding:10px 0 8px 0}

#morecontent-modal-body .list li h3{font-size:120%;margin:0}
#morecontent-modal-body .list li small{line-height: 1}






.transout,
#main .subheader-shade,
#main .jobpost,
#subheader,
#navbar,
.subpages,
#main .fader,
.footrow{
-webkit-transition: opacity .7s;
transition: opacity .7s;
}

#subheader .title_block,
.transin #subheader .title_block,
.footrow{
-webkit-transition: opacity 1.7s;
transition: opacity 1.7s;
}

.footrow{position:static;}
.footrow hr{ margin-bottom: 5px}

#subheader,
#navbar{opacity:1}
#subheader .title_block,
#main .subheader-shade,
.subpages{opacity:0}
#main .fader{opacity:0}
.footrow{opacity:0}

.transin #subheader .title_block,
.transin #main .subheader-shade{opacity:1}
.transin #subheader{opacity:1}
.transin #navbar{opacity:1}
.transin .subpages{opacity:1}
.transin  #main .fader{opacity:1}
.transin .footrow{opacity:1}
.transin .footrow a,
.transin .footrow p{color:#777}
.transin .footrow a:hover{color:#00aeff}

.transout{opacity: 0}



#shade-top{ height:0px;}
#shade-bottom{ height:0px;}

.no_shading #shade-top{display: none}
.no_shading #shade-bottom{display:none}


@media (min-width:1200px){
#page.contact #main .sidecol .text{ margin: 0 0  0 80px}
}



.intro.box #symphony {position:absolute;top:0;left:0;width:100%;height:100%;margin:0px 0 0 0}

@media (min-width:768px){
.intropage #navbar {position:relative !important;z-index:1999999}
#symphony .preloader{margin-top:300px}

}
@media (max-width:767px){
.intropage #navbar {z-index:1999999}
.intro.box #entry #symphony_ignit{display: none}
}



@media (max-width:767px){


.text-zoom,
h1,
.meta,
.h1,
.nav-tabs {text-align:center;}

.nomobile{display:none}

}

#symphony,#symphony_hud{font-size: 120%}
#stage,#symphony{overflow: hidden !important}

#hudx small{font-size: 77%;text-transform: uppercase;opacity: 0.65}
#hudx{position: fixed; z-index: 999999;bottom:0px;left:0;width:100%;margin:0 0 0 0px;padding:0;font-size: 77%;font-weight: 300;line-height: 1.5;-webkit-transition: bottom .5s;-moz-transition: bottom .5s; -o-transition: bottom .5s; transition: bottom .5s;}
#hudx,#hudx *{pointer-events:auto !important; ;}
#hudx #details{background:rgba(15,15,20,0.5);padding:.9em 0;}
#hudx #details.empty{padding:0;}
#hudx #details h4{margin:0 0 3px 0;font-size:120%;font-weight: 300;}
#hudx #details h4 span{opacity: 0.65}
#hudx #details h4 .back{opacity: 0.65;font-size: 75%;position: absolute;margin:3px 0 0 -13px}
#hudx #details a{color:#fff;text-decoration: none}
#hudx #timeline{background:rgba(5,0,10,0.2);padding:.9em 0;height:80px}
#hudx input.datepicker{border:1px solid rgba(255,255,255,0.3);background:transparent;border-radius:2px;padding:3px 5px;margin:15px 0;color:#fff;width:100px}
#hudx #timeline .line{position: absolute;overflow: hidden;width:100%;height:50px}
#hudx #timeline .line .day{position: absolute;border-left:1px solid rgba(200,200,200,0.15);height:14px; }
#hudx #timeline .line .day .date{top:-20px;position: absolute;width:16px;margin:0 0 0 -8px;display:block;text-align: center }
#hudx #timeline .line .day a{background:rgba(255,255,255,0);width:4px;height:4px;display:block;margin:5px 0 0 -2.5px;text-decoration: none;border-radius: 10px}
#hudx #timeline .line .day a:hover{background:rgba(255,255,255,0.8);width:4px;}
#hudx #timeline .line .month{position: absolute;display:block;margin:20px 0  -20px -10px;text-transform:uppercase;font-size:65%;}



#loading_text{pointer-events:none !important; position: fixed;top:50.5%;margin: -100px 0 0 0;left:0;width:100%;line-height: 1.4;z-index: 99999;text-align:center;opacity: 1;-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#welcome_text{pointer-events:none !important; position: fixed;top:32%;margin: -60px 0 0 0;left:0;width:100%;line-height: 1.4;z-index: 999999;text-align:center;opacity: 1;-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#loading_text.off{opacity: 0}
#welcome_text.off{opacity: 0}
#welcome_text p{margin:0;letter-spacing:-0.01em;font-size:200%;font-weight:200;}

#mousemove_note{position: absolute;display: none !important;line-height: 1.4;z-index: 9999999;background: rgba(0,0,0,0.6);border-radius: 2px;padding:8px 10px;width:300px;min-height:110px;font-size:70%;}
#mousemove_note h4{margin:0 0 0 0}
#mousemove_note small{opacity: 0.6;font-size:85%;}



#hudx #timeline .timeline hr{margin:24px 0 -7px 0}

#hudx .opener{display: block;text-align: center;line-height: 1;background:transparent;margin:-6px 0 0px 0;text-decoration:none;color:#fff;font-size:12px}
#hudx .off .opener{margin:-5px 0 5px 0;}
#hudx .opener .on{display:none;}
#hudx .off .opener .off{display:none;}

#hudx .opener .off{display:inline;opacity:0.5;font-size:9px}
#hudx .off .opener .on{display:inline;}

#hudx #intro_text.off,
#hudx #details.off {background:transparent;padding:8px 0 0 0 }
#hudx #intro_text.off .container,
#hudx #details.off .container{display: none}

#hudx #intro_text{background:rgba(5,0,10,0.3);padding:.9em 0;-webkit-transition: bottom 1.5s;-moz-transition: bottom 1.5s; -o-transition: bottom 1.5s; transition: bottom 1.5s;}
#hudx #intro_text ol{margin:0;padding:0 0 0 15px}
#hudx #intro_text.empty{padding: 0}

#hudx .search_control{position: absolute;left:8px;top:-25px;font-size:14px}
#hudx .credits_control{position: absolute;left:8px;top:-25px;font-size:14px}
#hudx .search_control a{text-decoration: none;color:#fff}



#symphony_hud #search_box{background:rgba(15,15,20,0.6);padding:.9em 0;position:fixed;bottom:0;width:99.8%;z-index:99}
#symphony_hud #search_box .form-control{border:1px solid rgba(255,255,225,0.5);background: transparent;color:#fff;border-top-left-radius:4px;border-bottom-left-radius:4px }
#symphony_hud #search_box .input-group-addon{border-top-right-radius:4px;border-bottom-right-radius:4px;background:rgba(255,255,225,0.1);color:rgba(255,255,225,0.8);}
#symphony_hud #search_box .opener{position: relative;float:right;margin:0 20px 0 0;}

#symphony_hud #search_box{display: none}
#symphony_hud.search_box_on #search_box{display: block}


@media (max-width:1250px) {
.intro #entry h1{font-size:400% !important;}
#welcome_text p{font-size:150%;font-weight:300;}
}

@media (max-width:767px) {
#hudx{font-size:65%;}
.intro #entry .desc{font-size:200% !important;}
}
@media (max-width:460px) {
#hudx #intro_text {font-size:110%;}
.intro #entry h1{font-size:450% !important;}
.intro #entry .desc{font-size:170% !important;}
}


#symphony_hud .pane{pointer-events: auto;position: relative;z-index:9;background:rgba(18,23,38,0.6);border:0 solid rgba(255,255,255,0.3);padding:20px 20px;box-shadow: 0 0 3px rgba(255,255,255,0.4), 0 5px 10px rgba(18,23,38,0.6);-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#symphony_hud .pane .inner{opacity:1;}
#symphony_hud .pane.off {padding:0;background:transparent;box-shadow:none}
#symphony_hud .pane.off .inner{opacity:0;overflow:hidden;height:0;}


#symphony_hud .pane.sound.off{opacity:1;box-shadow: 0 0 3px rgba(255,255,255,0.4), 0 5px 10px rgba(18,23,38,0.6)}
#symphony_hud .pane.block{width:360px;font-size:85%}
#symphony_hud .pane.block.none{display:none}
#symphony_hud .pane.left{position: fixed;left:30px;}
#symphony_hud .pane.middle{top:415px;}
#symphony_hud .pane.bottom{bottom:110px;}
#symphony_hud.search_box_on .pane.bottom{bottom:170px;}
#symphony_hud .pane.bottom p{margin:0px 10px 5px 0;}
#symphony_hud .pane.bottom hr{margin:12px 100px 12px 0;border-top:1px dashed rgba(255,255,255,0.8)}
#symphony_hud .pane.top{top:265px;}


#symphony_hud .pane .link{display: inline-block;position: absolute;width:26px;border-top:1px solid rgba(29,210,212,0.5);margin:10px 0 0 -50px}
#symphony_hud .pane .link:after{content:"•";font-size:250%;display:inline-block;float:right;margin:-4px -8px 0 0;line-height:1px;color:rgba(29,210,212,0.5)}
#symphony_hud .pane.off .link{margin:11px 0 0 -60px;width:29px;}
#symphony_hud .pane.off .link:after{display: none}

#symphony_hud .pane.middle .controls{font-size:150%;margin:12px 0 0 0;vertical-align: bottom}
#symphony_hud .pane.middle .controls a{background: rgba(0,0,0,0.1);text-align:center;border:0 solid rgba(255,255,255,0.3);width:24px;height:24px;display: inline-block;line-height:21px;border-radius: 20px;vertical-align: top}
#symphony_hud .pane.middle .controls a.block_prev{float:left;border:0}
#symphony_hud .pane.middle .controls a.block_next{float:right;border:0}
#symphony_hud .controls a.block_close{width:35px;height:35px;line-height:30px;background: rgba(255,0,0,0.5) !important;color:#fff;display:inline-block;border-radius:30px}


#symphony_hud .pane h4{line-height:1.1;font-weight:300;margin:0 0 5px 0;font-size:100%;letter-spacing: 0.05em;text-transform: uppercase;color:rgba(255,255,255,0.7)}
#symphony_hud .pane h4 i{font-weight:500;line-height:1.5;margin:0;text-transform:none}
#symphony_hud .pane .li{font-weight:500;line-height:1.5}
#symphony_hud .pane .li small{font-weight:300;font-size:85%;letter-spacing: 0.05em;text-transform: uppercase;color:rgba(255,255,255,0.5)}

#symphony_hud .pane .opener{float: right;position:relative;z-index:899999;display: inline-block;margin:-5px 0 0 0}
#symphony_hud .pane.off .opener{float: none;position:relative;z-index:899999;font-size: 110%;background:rgba(18,23,38,0.4);min-width:30px;height:30px;text-align:center;line-height:2;border-radius:20px;box-shadow: 0px 0 4px rgba(109,210,212,0.6);color:rgba(29,210,212,1)}
#symphony_hud .pane.off .opener .on{background:rgba(18,23,38,0.4);box-shadow: 1px -1px 1px rgba(109,210,212,0.6), 1px -1px 2px rgba(109,210,212,0.8), -1px 1px 3px rgba(209,210,212,0.8), -1px 1px 1px rgba(125,210,212,0.8);color:rgba(29,210,212,1);width:30px;height:30px;text-align:center;line-height:2;border-radius:20px}
#symphony_hud .pane .opener .on{display: none}
#symphony_hud .pane .opener .off{display: inline-block}
#symphony_hud .pane.off .opener .on{display: inline-block}
#symphony_hud .pane.off .opener .off{display: none}

#symphony_hud .pane .opener .lab{display: none;font-size:73%;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.75)}
#symphony_hud .pane.off .opener .lab{display: inline-block;padding:0 15px 0 10px}

#symphony_hud .controls.top a{color:#fff;text-decoration: none}

#symphony_hud .controls.top{position: fixed;width:100%;z-index:9;bottom:30px}
#symphony_hud.search_box_on .controls.top{bottom:90px}
#symphony_hud .controls.top .inner{text-align: center}
#symphony_hud .controls.top .inline-block{background:rgba(18,23,38,0.6);padding:15px 20px;border-radius: 50px;margin:0 10px;min-width: 55px}

#symphony_hud .controls.top .day_prev{font-size:150%;line-height:1;margin:0 10px 0 0}
#symphony_hud .controls.top .day_next{font-size:150%;line-height:1;margin:0 0 0 15px}
#symphony_hud .controls.top .date {margin:0 5px}

@media (min-width:768px){
  #symphony_hud .pane .glow{top:-13px;left:0;position: absolute;}
  #symphony_hud .pane.off .glow{display: none}
}

@media (max-width:767px){
#symphony_hud .pane .link{margin:10px 0 0 -44px}
#symphony_hud .pane.left{left:20px;}

#symphony_hud .pane .opener .fa{font-size:90%;padding:2px 0}
#symphony_hud .pane .opener .lab{font-size:60%;}
#symphony_hud .pane.off .opener .lab{padding:0 15px 0 10px}
#symphony_hud .pane.off .opener{height: 22px;min-width:22px;line-height:1;}
#symphony_hud .pane.off .opener .on{height: 22px;width: 22px;line-height:1.3;}

#symphony_hud {position:fixed;bottom:0;left:0;z-index:9;width:100%;}
#symphony_hud.search_box_on {bottom:60px;}
#symphony_hud.search_box_on .pane.bottom{bottom:auto;}
#symphony_hud.search_box_on .controls.top{bottom:auto}

#symphony_hud .pane.left{position:relative;border-top:1px solid rgba(255,255,255,0.1)}
#symphony_hud .pane.left.off{border:0;}
#symphony_hud .pane.left.bottom.off{position:fixed;}

#symphony_hud .pane.top.off,#symphony_hud .pane.middle.off{padding:12px 15px;background:transparent;box-shadow:none;background: rgba(0,0,0,0.3);}
#symphony_hud .pane.top.off .inner,#symphony_hud .pane.middle.off .inner{padding:0 0 0px 0;opacity:1;overflow:hidden;height:auto;}
#symphony_hud .pane.top.off .opener .lab,
#symphony_hud .pane.top.off .inner .ul,
#symphony_hud .pane.middle.off .opener .lab,
#symphony_hud .pane.middle.off .inner .ul,#symphony_hud .pane.top.off .inner .ul{display: none}
#symphony_hud .pane.top.off .opener,#symphony_hud .pane.middle.off .opener{float:right;margin:0;}


#symphony_hud .pane{font-size: 85%;padding:12px 14px}
#symphony_hud .controls.top .inline-block{padding:10px 15px;min-width: 43px}
#symphony_hud .pane.left.top,
#symphony_hud .pane.left.bottom,
#symphony_hud .pane.left.middle{top:auto;bottom:0px;left:0;width:100%;box-shadow:none;}
#symphony_hud .pane.left.top .link,
#symphony_hud .pane.left.bottom .link,
#symphony_hud .pane.left.middle .link{display: none}

#symphony_hud #search_box .opener{display:none}

#symphony_hud .pane.left.off.middle{}
#symphony_hud .pane.left.off.bottom{left:20px;bottom:auto;top:100px;}


#symphony_hud .controls.top{position:relative}
#symphony_hud .controls.top{top:auto;bottom:0;background:rgba(18,23,38,0.85);font-size:100%;text-align:center}
#symphony_hud .controls.top .inline-block{background:transparent;box-shadow:none;width:20%;float:left;;margin:0}
#symphony_hud .controls.top .date .date{display: none}
#symphony_hud .controls.top .date.inline-block{width:60%;padding-left:0;padding-right:0}



#symphony_hud .controls.top .date .datepicker_icon,
#symphony_hud .controls.top .date .day_prev,
#symphony_hud .controls.top .date .day_next{width:32.5%;display: inline-block;white-space: nowrap;float:right;margin:0;padding:0;text-align:center;}
#symphony_hud .controls.top .date .day_prev{float:left}
#symphony_hud .controls.top .date .datepicker_icon{width:32.5%;float:none}
#symphony_hud .controls.top .container{padding:0;}


#symphony_hud.viewing-block .pane.left.top{display: none}
#symphony_hud.viewing-block .controls.top .date{display: none}
#symphony_hud.viewing-day .controls.top .block-controls{display: none}

#symphony_hud .controls.top .block-controls{width:60%;display: inline-block;}
#symphony_hud .controls.top .block-controls .block_prev,
#symphony_hud .controls.top .block-controls .block_next{display: inline-block;width: 33%;font-size:150%;line-height: 1}
#symphony_hud .controls.top .block-controls .block_prev{float:left;}
#symphony_hud .controls.top .block-controls .block_next{float:right;}
#symphony_hud .controls.top .block-controls .block_close{line-height:1.85;font-size:120%;margin:-8px}

}

@media (max-width:399px){

#symphony_hud .controls.top .date .datepicker_icon,
#symphony_hud .controls.top .date .day_prev,
  #symphony_hud .controls.top .date .day_next{width:32%;}
}

#symphony_hud .sound_control a{text-decoration: none;color:#1dd2d4}
#symphony_hud .sound_control .icon-volume-2{display: none}
#symphony_hud .sound_control .icon-volume-off{display: inline}
#symphony_hud .sound_control.off .icon-volume-2{display: inline;color:rgba(255,255,255,0.5)}
#symphony_hud .sound_control.off .icon-volume-off{display: none}



#symphony {width:99.9%;mask:none;position: absolute;z-index: 0;top:-250px;-webkit-transition: top 2.5s;-moz-transition: top 2.5s; -o-transition: top 2.5s; transition: top 2.5s;}
#symphony.mask{mask: url('/static/assets/images/mask.png') center / cover;}
#symphony_hud{display: none;}
#stage{}
#page.home #symphony{position:fixed;top:0px;}
#page.home #symphony_hud{display:block;}

#roadmap-load{position: relative;z-index: 9}





#gource-root{position:absolute;top:0px;right:0;width:100%;height:100%;z-index: 0;overflow:hidden;}
#gource-root .App{position:absolute;left:-15px;top:-365px;width:100%;height:auto;}
#gource-root .App .gource-ui{display: none}

#page.home #gource-box{display: none}

#gource-box a{display: inline-block;text-decoration:none;outline:0 }
#gource-box .opener .off{display: none}
#gource-box.fullscreen .opener .off{display: inline-block}
#gource-box .opener .on{display: inline-block}
#gource-box.fullscreen .opener .on{display: none}

#gource-box .opener {position: absolute;z-index:99;margin:12% 0 0 0px;right:0;width:120px;height:120px;background:url('/static/assets/images/mouseglow.svg') center no-repeat;color:#fff;line-height:120px;text-align: center;-webkit-transition: opacity 1.1s;-moz-transition: opacity 1.1s; -o-transition: opacity 1.1s; transition: opacity 1.1s;}
#gource-box.fullscreen .opener {position: absolute;font-size: 200%;opacity: 0.8;z-index:9999;top:60px;right:100px;left:auto;background:transparent;width: 80px;height: 80px;margin:0;line-height:20px}
#gource-box.fullscreen .opener:hover{opacity: 1}

#gource-box .commit--switcher,
#gource-box .switcher,
#gource-box .daterange{display: none;}

#gource-box .date--slider--end{width: 20px;border-top:3px solid #652d90;margin:79px 0 0 85px}
#gource-box .date--slider--end.pull-right{margin:79px 180px 0 0}


@media (min-width:768px){
#gource-box .opener {right:auto;left:50%;margin:-130px 0 0 550px;}

#gource-box.fullscreen .daterange{display:block;position:absolute;z-index:999;width:100%;}
#gource-box.fullscreen .switcher{display: block;position:absolute;z-index:999;width: 50px;padding:4px 10px;top:55%;left:40px;border:1px solid #652d90;border-radius:30px}
#gource-box.fullscreen .switcher.view--switcher{top:40%;}
#gource-box.fullscreen .commit--switcher{bottom:40px;right:40px;width:auto;font-size: 150%;display: block;position:absolute;}
#gource-box.fullscreen .commit--switcher a{display:inline-block;margin:0 2px;text-align: center;width: 50px;height: 50px;line-height: 42px;padding:4px 10px;left:40px;border:1px solid #652d90;border-radius:30px}
#gource-box.fullscreen .commit--switcher.nodesktop{display: none}

#gource-box .icon--calendar span {display: inline-block;width:35px;border-top:1px solid #652d90;position: absolute;left:0;top:78px}

}


@media (max-width:1370px){
#gource-box .opener {right:10px;left:auto;margin:-205px 0 0 0px;}
}


#gource-box.commit-first .commit--switcher .prev{display: none}
#gource-box.commit-last .commit--switcher .next{display: none}

#gource-box .infopanel{display:none;}
#gource-box .infopanel .added,#gource-box .infopanel .hash{margin:10px 0 0 0}
#gource-box.fullscreen .infopanel{display:inline-block;position:absolute;z-index:99;width:auto;padding:4px 10px;bottom:40px;left:30px;letter-spacing:0.07em;font-size:90%}
#gource-box.fullscreen .infopanel ul{list-style-type: none;padding:10px 15px ;border-left:1px solid #652d90;line-height: 1.5}
#gource-box.fullscreen .infopanel small{font-weight:300}

#gource-box .switcher a{display: inline-block;text-decoration:none;font-size:140%;text-align: center;line-height: 45px;width:100%;height: 40px}
#gource-box .view--switcher a+a{border-top:1px solid #652d90}
#gource-box .view--switcher .normal{color:#652d90}
#gource-box .view--switcher .sphere{color:#1fc1c3}
#gource-box.sphereview .view--switcher .normal{color:#1fc1c3}
#gource-box.sphereview .view--switcher .sphere{color:#652d90}

#gource-box .play--switcher .play{display:inline-block}
#gource-box .play--switcher .stop{display: none}
#gource-box.playing .play--switcher .play{display:none}
#gource-box.playing .play--switcher .stop{display: inline-block}
#gource-box.playing .commit--switcher{display: none !important;}

#gource-box .daterange .icon--calendar{display: inline-block;width:60px;height:60px;font-size:135%;border-radius:40px;border:1px solid #652d90;text-align: center;line-height:60px;margin:50px 0 0 35px;float:left;}
#gource-box .daterange .date--slider.ui-slider{margin:80px 200px 40px 200px;width:auto;height:1px;border-radius: 0;border: 0;background: #652d90}
#gource-box .daterange .date--slider.ui-slider .ui-slider-handle{top:-1px;margin-left: -20px;outline:0;width:40px;height:18px;border-radius: 0;border: 0;border-top:3px solid #1fc1c3;background:url('/static/assets/images/slider-handle.svg') no-repeat center bottom}
#gource-box .daterange .date--slider.ui-slider .ui-slider-handle .lab{position: absolute;top:-40px;color:#1fc1c3;width:120px;text-align: center;margin:0 0 0 -40px}
#gource-box.fullscreen{position:fixed;left:0;top:0;width:100%;height:100%;z-index:999;}
#gource-box.fullscreen #gource-root {position:static;width:100%;height:100%;z-index:9}
#gource-box.fullscreen #gource-root .App{position:static;}



@media (max-width:767px){

#gource-box .date--slider--end{margin:29px 0 0 -20px}
#gource-box .date--slider--end.pull-right{margin:29px -10px 0 0}

#gource-root .App{position:absolute;left:0;top:-425px;width:100%;height:auto;}

#gource-box #gource-root{top:0px;right:0;width:100%;height:100%;}
#gource-box .opener {margin:-40px 0 0 0px;background-size:70% 70%;}

#gource-box.fullscreen .opener{top:17px;right:18px;width:20px}
#gource-box.fullscreen.infohidden .infopanel .inner{display:none;}
#gource-box.fullscreen .infopanel .opener{font-size:100%;}
#gource-box.fullscreen .infopanel{display:block;padding:0;font-size:80%;letter-spacing:0.03em;}
#gource-box.fullscreen .daterange .icon--calendar{display:none;}
#gource-box.fullscreen .daterange{display:block;position:absolute;z-index:999;width:100%;padding:0 60px 0 45px}
#gource-box.fullscreen .infopanel{display:block;bottom:0;left:0;width:100%;background:rgba(0,0,0,0.3)}
#gource-box.fullscreen .infopanel .commit--switcher {display:inline-block;}
#gource-box.fullscreen .infopanel .controls a{color:#fff}
#gource-box.fullscreen .infopanel .controls {display:block;font-size: 120%;text-align:center;width:100%;padding:0px 15px 8px 15px;}
#gource-box.fullscreen.infohidden .infopanel .controls {padding:10px 15px 8px 15px;}
#gource-box .daterange .date--slider.ui-slider{margin:30px 0 0px 0;}
#gource-box .daterange .date--slider.ui-slider .ui-slider-handle {background: transparent}
#gource-box .daterange .date--slider.ui-slider .ui-slider-handle .lab{display:none;}

#gource-box .date--mobile{display:none;position: absolute;width:130px;left:25px;top:40px;font-size: 120%;margin:0;font-weight:500;color:#1fc1c3}
#gource-box.fullscreen .date--mobile{display:block;}
#gource-box.fullscreen .infopanel .commit--switcher{position: absolute;width:100%;margin:-45px 0 0 0;font-size:200%;padding:0 10px}
#gource-box.fullscreen .infopanel .commit--switcher a.next{float:right;}

#gource-box.fullscreen .switcher.view--switcher{display: block;position: absolute;top:50px;right:17px;}

#gource-box.fullscreen .infopanel ul{border:0;padding:15px;background:rgba(255,255,255,0.05)}

#gource-box .view--switcher .normal{display:none}
#gource-box .view--switcher .sphere{display:inline-block}
#gource-box.sphereview .view--switcher .normal{display:inline-block}
#gource-box.sphereview .view--switcher .sphere{display:none}
#gource-box .view--switcher a+a{border-top:0}


}











/* footer footer footer footer */


.cardano.logo a{text-decoration: none;}
.cardano.logo a img{margin:-2px  0;}
.cardano.logo a span{font-family: 'Montserrat', sans-serif;text-transform: uppercase;color:#333;font-size:160%;letter-spacing: .1em;display: inline-block;padding:0 0 0 10px}

.top .cardano.logo a span{color:#fff;}

.foot .info{padding:50px 0 50px 0}

.foot h5{font-size: 100%;font-weight:300;margin:25px 0 }


.foot{font-size: 93%;color:rgba(255,255,255,0.5);padding:0px 0;clear:both;margin:20px 0 0 0;}
.foot a{color:rgba(255,255,255,0.7);}
.foot a.highlight{color:#1dd2d4;}
.foot .note { color:#555;padding:10px 0;margin:0px 0 0 0;border-top:1px solid #222;font-size: 85%;font-weight:bold; text-align: center;text-transform: uppercase;}


.guide {background:#fff;padding: 30px 0 50px 0}
.guide h2{letter-spacing:-.025em;}
.guide ol{padding:0 17px !important}



.foot .links {padding:0px 0 45px 0;}

.foot .links b{color:#fff;font-size:108%;font-weight: normal;display: block;margin: 12px 0}
.foot .links ul{padding:0;list-style-type: none}
.foot .links ul li{margin:5px 0}
.foot .links a{color:#fcfcfc;opacity:.5}
.foot .links a:hover{opacity:.7}



.foot hr{margin:50px 0 0px 0;border-color:#fcfcfc;opacity: 0.1;}

.foot .logo a{text-decoration: none;}
.foot .logo a img{margin:-3px 0 0 0;}
.foot .logo a{  color:#fcfcfc;opacity: 0.7;}
.foot .logo .support{margin:0 5px 0 20px;font-size:90%}
.foot .logo .split{display:inline-block;background: #f9f9f9;opacity: 0.2;width:1px;height:30px;margin:0 0 -12px 20px}

.foot .logo.iohk .iohk img{width: 50px;height: auto;}


@media (max-width:490px){
.foot .logo .split,
.foot .logo .iohk{display: none}
.foot .footer .links{margin:40px 0 0 0;text-align: center}
}

@media (max-width:300px){
.foot .logo .support{display: none}
}


#search-results .search-result{margin: 0 0 5px 0;padding: 0 0 5px 0;border-top:1px solid #ddd}
#search-results .search-result .output span{background:#ff0;color:#222}

footer #lang-select li a {opacity: 0.9}
.foot .links .langs li {margin-right: 10px;}
.foot .links .langs li a:hover {text-decoration: none}
.foot .more h5{font-size:110%; text-transform: uppercase;color:#eee;margin:0 0 50px 0;font-weight:300;}
.foot .more a{font-size:170%;color:#dadadb; display:inline-block;line-height:1;text-align: center;margin:0 0 0 10px}
.foot .more a .fa{line-height:1.9; display:inline-block;}

@media (max-width: 767px) {
#foot footer, #foot footer p, #foot footer li {  text-align: center;}
}

@media (min-width: 767px) {
  .logo.iohk{text-align: center}
}



/*  */
