

.intro.box #symphony {position:absolute;top:0;left:0;width:100%;height:100%;margin:0px 0 0 0}

@media (min-width:768px){
.intropage #navbar {position:relative !important;z-index:1999999}
#symphony .preloader{margin-top:300px}

}


#symphony,#symphony_hud{font-size: 120%}
#stage,#symphony{overflow: hidden !important}

#hudx small{font-size: 77%;text-transform: uppercase;opacity: 0.65}
#hudx{position: fixed; z-index: 999999;bottom:0px;left:0;width:100%;margin:0 0 0 0px;padding:0;font-size: 77%;font-weight: 300;line-height: 1.5;-webkit-transition: bottom .5s;-moz-transition: bottom .5s; -o-transition: bottom .5s; transition: bottom .5s;}
#hudx,#hudx *{pointer-events:auto !important; ;}
#hudx #details{background:rgba(15,15,20,0.5);padding:.9em 0;}
#hudx #details.empty{padding:0;}
#hudx #details h4{margin:0 0 3px 0;font-size:120%;font-weight: 300;}
#hudx #details h4 span{opacity: 0.65}
#hudx #details h4 .back{opacity: 0.65;font-size: 75%;position: absolute;margin:3px 0 0 -13px}
#hudx #details a{color:#fff;text-decoration: none}
#hudx #timeline{background:rgba(5,0,10,0.2);padding:.9em 0;height:80px}
#hudx input.datepicker{border:1px solid rgba(255,255,255,0.3);background:transparent;border-radius:2px;padding:3px 5px;margin:15px 0;color:#fff;width:100px}
#hudx #timeline .line{position: absolute;overflow: hidden;width:100%;height:50px}
#hudx #timeline .line .day{position: absolute;border-left:1px solid rgba(200,200,200,0.15);height:14px; }
#hudx #timeline .line .day .date{top:-20px;position: absolute;width:16px;margin:0 0 0 -8px;display:block;text-align: center }
#hudx #timeline .line .day a{background:rgba(255,255,255,0);width:4px;height:4px;display:block;margin:5px 0 0 -2.5px;text-decoration: none;border-radius: 10px}
#hudx #timeline .line .day a:hover{background:rgba(255,255,255,0.8);width:4px;}
#hudx #timeline .line .month{position: absolute;display:block;margin:20px 0  -20px -10px;text-transform:uppercase;font-size:65%;}



#loading_text{pointer-events:none !important; position: fixed;top:50.5%;margin: -100px 0 0 0;left:0;width:100%;line-height: 1.4;z-index: 99999;text-align:center;opacity: 1;-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#welcome_text{pointer-events:none !important; position: fixed;top:32%;margin: -60px 0 0 0;left:0;width:100%;line-height: 1.4;z-index: 999999;text-align:center;opacity: 1;-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#loading_text.off{opacity: 0}
#welcome_text.off{opacity: 0}
#welcome_text p{margin:0;letter-spacing:-0.01em;font-size:200%;font-weight:200;}

#mousemove_note{position: absolute;display: none !important;line-height: 1.4;z-index: 9999999;background: rgba(0,0,0,0.6);border-radius: 2px;padding:8px 10px;width:300px;min-height:110px;font-size:70%;}
#mousemove_note h4{margin:0 0 0 0}
#mousemove_note small{opacity: 0.6;font-size:85%;}



#hudx #timeline .timeline hr{margin:24px 0 -7px 0}

#hudx .opener{display: block;text-align: center;line-height: 1;background:transparent;margin:-6px 0 0px 0;text-decoration:none;color:#fff;font-size:12px}
#hudx .off .opener{margin:-5px 0 5px 0;}
#hudx .opener .on{display:none;}
#hudx .off .opener .off{display:none;}

#hudx .opener .off{display:inline;opacity:0.5;font-size:9px}
#hudx .off .opener .on{display:inline;}

#hudx #intro_text.off,
#hudx #details.off {background:transparent;padding:8px 0 0 0 }
#hudx #intro_text.off .container,
#hudx #details.off .container{display: none}

#hudx #intro_text{background:rgba(5,0,10,0.3);padding:.9em 0;-webkit-transition: bottom 1.5s;-moz-transition: bottom 1.5s; -o-transition: bottom 1.5s; transition: bottom 1.5s;}
#hudx #intro_text ol{margin:0;padding:0 0 0 15px}
#hudx #intro_text.empty{padding: 0}

#hudx .search_control{position: absolute;left:8px;top:-25px;font-size:14px}
#hudx .credits_control{position: absolute;left:8px;top:-25px;font-size:14px}
#hudx .search_control a{text-decoration: none;color:#fff}



#symphony_hud #search_box{background:rgba(15,15,20,0.6);padding:.9em 0;position:fixed;bottom:0;width:99.8%;z-index:99}
#symphony_hud #search_box .form-control{border:1px solid rgba(255,255,225,0.5);background: transparent;color:#fff;border-top-left-radius:4px;border-bottom-left-radius:4px }
#symphony_hud #search_box .input-group-addon{border-top-right-radius:4px;border-bottom-right-radius:4px;background:rgba(255,255,225,0.1);color:rgba(255,255,225,0.8);}
#symphony_hud #search_box .opener{position: relative;float:right;margin:0 20px 0 0;}

#symphony_hud #search_box{display: none}
#symphony_hud.search_box_on #search_box{display: block}


@media (max-width:1250px) {
.intro #entry h1{font-size:400% !important;}
#welcome_text p{font-size:150%;font-weight:300;}
}

@media (max-width:767px) {
#hudx{font-size:65%;}
.intro #entry .desc{font-size:200% !important;}
}
@media (max-width:460px) {
#hudx #intro_text {font-size:110%;}
.intro #entry h1{font-size:450% !important;}
.intro #entry .desc{font-size:170% !important;}
}


#symphony_hud .pane{pointer-events: auto;position: relative;z-index:9;background:rgba(18,23,38,0.6);border:0 solid rgba(255,255,255,0.3);padding:20px 20px;box-shadow: 0 0 3px rgba(255,255,255,0.4), 0 5px 10px rgba(18,23,38,0.6);-webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
#symphony_hud .pane .inner{opacity:1;}
#symphony_hud .pane.off {padding:0;background:transparent;box-shadow:none}
#symphony_hud .pane.off .inner{opacity:0;overflow:hidden;height:0;}


#symphony_hud .pane.sound.off{opacity:1;box-shadow: 0 0 3px rgba(255,255,255,0.4), 0 5px 10px rgba(18,23,38,0.6)}
#symphony_hud .pane.block{width:360px;font-size:85%}
#symphony_hud .pane.block.none{display:none}
#symphony_hud .pane.left{position: fixed;left:30px;z-index:99}
#symphony_hud .pane.middle{top:415px;display:none}
#symphony_hud .pane.bottom{bottom:110px;}
#symphony_hud.search_box_on .pane.bottom{bottom:170px;}
#symphony_hud .pane.bottom p{margin:0px 10px 5px 0;}
#symphony_hud .pane.bottom hr{margin:12px 100px 12px 0;border-top:1px dashed rgba(255,255,255,0.8)}
#symphony_hud .pane.top{top:265px;}


#symphony_hud.viewing-block .pane.middle{display:inherit}




#symphony_hud .pane .link{display: inline-block;position: absolute;width:27px;border-top:1px solid rgba(29,210,212,0.5);margin:10px 0 0 -50px}
#symphony_hud .pane .link:after{content:"•";font-size:350%;display:inline-block;float:right;margin:-5px -8px 0 0;line-height:1px;color:rgba(29,210,212,0.5)}
#symphony_hud .pane.off .link{margin:11px 0 0 -60px;width:29px;}
#symphony_hud .pane.off .link:after{display: none}

#symphony_hud .pane.middle .controls{font-size:150%;margin:12px 0 0 0;vertical-align: bottom}
#symphony_hud .pane.middle .controls a{background: rgba(0,0,0,0.1);text-align:center;border:0 solid rgba(255,255,255,0.3);width:34px;height:34px;display: inline-block;line-height:30px;border-radius: 20px;vertical-align: top}
#symphony_hud .pane.middle .controls a.block_prev{float:left;border:0}
#symphony_hud .pane.middle .controls a.block_next{float:right;border:0}
#symphony_hud .controls a.block_close{width:35px;height:35px;line-height:30px;background: rgba(255,0,0,0.5) !important;color:#fff;display:inline-block;border-radius:30px}


#symphony_hud .pane h4{line-height:1.1;font-weight:300;margin:0 0 5px 0;font-size:100%;letter-spacing: 0.05em;text-transform: uppercase;color:rgba(255,255,255,0.7)}
#symphony_hud .pane h4 i{font-weight:500;line-height:1.5;margin:0;text-transform:none}
#symphony_hud .pane .li{font-weight:500;line-height:1.5}
#symphony_hud .pane .li small{font-weight:300;font-size:85%;letter-spacing: 0.05em;text-transform: uppercase;color:rgba(255,255,255,0.5)}

#symphony_hud .pane .opener{float: right;position:relative;z-index:899999;display: inline-block;margin:-5px 0 0 0}
#symphony_hud .pane.off .opener{float: none;position:relative;z-index:899999;font-size: 110%;background:rgba(18,23,38,0.4);min-width:30px;height:30px;text-align:center;line-height:2;border-radius:20px;box-shadow: 0px 0 4px rgba(109,210,212,0.6);color:rgba(29,210,212,1)}
#symphony_hud .pane.off .opener .on{background:rgba(18,23,38,0.4);box-shadow: 1px -1px 1px rgba(109,210,212,0.6), 1px -1px 2px rgba(109,210,212,0.8), -1px 1px 3px rgba(209,210,212,0.8), -1px 1px 1px rgba(125,210,212,0.8);color:rgba(29,210,212,1);width:30px;height:30px;text-align:center;line-height:2;border-radius:20px}
#symphony_hud .pane .opener .on{display: none}
#symphony_hud .pane .opener .off{display: inline-block}
#symphony_hud .pane.off .opener .on{display: inline-block}
#symphony_hud .pane.off .opener .off{display: none}

#symphony_hud .pane .opener .lab{display: none;font-size:73%;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.75)}
#symphony_hud .pane.off .opener .lab{display: inline-block;padding:0 15px 0 10px}

#symphony_hud .controls.top a{color:#fff;text-decoration: none}

#symphony_hud .controls.top{position: fixed;width:100%;z-index:9;bottom:30px}
#symphony_hud.search_box_on .controls.top{bottom:90px}
#symphony_hud .controls.top .inner{text-align: center}
#symphony_hud .controls.top .inline-block{background:rgba(18,23,38,0.6);padding:12px 20px;border-radius: 50px;margin:0 10px;min-width: 55px}
#symphony_hud .controls.top .day_prev{font-size:150%;line-height:1;margin:0 10px 0 0}
#symphony_hud .controls.top .day_next{font-size:150%;line-height:1;margin:0 0 0 15px}
#symphony_hud .controls.top .date {margin:0 5px}

@media (min-width:768px) and (max-height:890px){
#symphony_hud .pane.top{top:180px;}
#symphony_hud .pane.middle{top:330px;}
#symphony_hud .pane.bottom{bottom:30px;}
#symphony_hud.search_box_on .pane.bottom{bottom:70px;}
}
@media (min-width:768px) and (max-height:720px){

#symphony_hud.search_box_on #search_box,
  #symphony_hud .controls.top .inline-block.search{display:none}
  #symphony_hud.search_box_on .controls.top {  bottom:25px;}
}
@media (min-width:768px) and (max-height:680px){
#symphony_hud .pane.top,
#symphony_hud .pane.middle{font-size:70%;padding:15px;width:260px}
#symphony_hud .pane.middle{top:180px;}
#symphony_hud .pane.bottom{display:none}
#symphony_hud.viewing-block .pane.top{display:none}

  #symphony_hud .pane .link:after{margin:-4.5px -6.5px 0 0;}
#symphony_hud .pane .link{width:32px;border-top:1px solid rgba(29,210,212,0.5);margin:10px 0 0 -50px}


  #symphony_hud .pane.off .opener{height:25px;}
#symphony_hud .pane.off .opener .on{width:25px;height:25px;}

  #symphony_hud .pane.off .link{display:none}

}

@media (min-width:768px) and (max-height:400px){
#symphony_hud.viewing-block .pane.middle .ul{display:none}
}


@media (min-width:768px){

@media (max-width:1255px){

#symphony_hud .controls.top .container {max-width: 100%;width: 100%;padding-right:30px;}
#symphony_hud .controls.top .inner {text-align:right;}

}
@media (max-width:885px){

#symphony_hud .controls.top .inner .date .date{display: none}

}


}




@media (min-width:768px){
  #symphony_hud .pane .glow{top:-11.5px;left:0;position: absolute;}
  #symphony_hud .pane.off .glow{display: none}
  #symphony_hud .controls.top .inline-block.search,#symphony_hud .controls.top .inline-block.sound{padding:12px 15px;width:46px;min-width:45px}
}

@media (max-width:767px){
#symphony_hud .pane .link{margin:10px 0 0 -44px}
#symphony_hud .pane.left{left:20px;}

#symphony_hud .pane .opener .fa{font-size:90%;padding:2px 0}
#symphony_hud .pane .opener .lab{font-size:60%;}
#symphony_hud .pane.off .opener .lab{padding:0 15px 0 10px}
#symphony_hud .pane.off .opener{height: 22px;min-width:22px;line-height:1;}
#symphony_hud .pane.off .opener .on{height: 22px;width: 22px;line-height:1.3;}

#symphony_hud {position:fixed;bottom:0;left:0;z-index:9;width:100%;}
#symphony_hud.search_box_on {bottom:60px;}
#symphony_hud.search_box_on .pane.bottom{bottom:auto;}
#symphony_hud.search_box_on .controls.top{bottom:auto}

#symphony_hud .pane.left{position:relative;border-top:1px solid rgba(255,255,255,0.1)}
#symphony_hud .pane.left.off{border:0;}
#symphony_hud .pane.left.bottom.off{position:fixed;}

#symphony_hud .pane.top.off,#symphony_hud .pane.middle.off{padding:12px 15px;background:transparent;box-shadow:none;background: rgba(0,0,0,0.3);}
#symphony_hud .pane.top.off .inner,#symphony_hud .pane.middle.off .inner{padding:0 0 0px 0;opacity:1;overflow:hidden;height:auto;}
#symphony_hud .pane.top.off .opener .lab,
#symphony_hud .pane.top.off .inner .ul,
#symphony_hud .pane.middle.off .opener .lab,
#symphony_hud .pane.middle.off .inner .ul,#symphony_hud .pane.top.off .inner .ul{display: none}
#symphony_hud .pane.top.off .opener,#symphony_hud .pane.middle.off .opener{float:right;margin:0;}


#symphony_hud .pane{font-size: 85%;padding:12px 14px}
#symphony_hud .controls.top .inline-block{padding:10px 15px;min-width: 43px}
#symphony_hud .pane.left.top,
#symphony_hud .pane.left.bottom,
#symphony_hud .pane.left.middle{top:auto;bottom:0px;left:0;width:100%;box-shadow:none;}
#symphony_hud .pane.left.top .inner,
#symphony_hud .pane.left.bottom .inner,
#symphony_hud .pane.left.middle .inner{font-size:77%;}
#symphony_hud .pane.left.top .link,
#symphony_hud .pane.left.bottom .link,
#symphony_hud .pane.left.middle .link{display: none}

#symphony_hud #search_box .opener{display:none}

#symphony_hud .pane.left.off.middle{}
#symphony_hud .pane.left.off.bottom{left:20px;bottom:auto;top:100px;}


#symphony_hud .controls.top{position:relative}
#symphony_hud .controls.top{top:auto;bottom:0;background:rgba(18,23,38,0.85);font-size:100%;text-align:center}
#symphony_hud .controls.top .inline-block{background:transparent;box-shadow:none;width:20%;float:left;;margin:0}
#symphony_hud .controls.top .date .date{display: none}
#symphony_hud .controls.top .date.inline-block{width:60%;padding-left:0;padding-right:0}



#symphony_hud .controls.top .date .datepicker_icon,
#symphony_hud .controls.top .date .day_prev,
#symphony_hud .controls.top .date .day_next{width:32.5%;display: inline-block;white-space: nowrap;float:right;margin:0;padding:0;text-align:center;}
#symphony_hud .controls.top .date .day_prev{float:left}
#symphony_hud .controls.top .date .datepicker_icon{width:32.5%;float:none}
#symphony_hud .controls.top .container{padding:0;}


#symphony_hud.viewing-block .pane.left.top{display: none}
#symphony_hud.viewing-block .controls.top .date{display: none}
#symphony_hud.viewing-day .controls.top .block-controls{display: none}

#symphony_hud .controls.top .block-controls{width:60%;display: inline-block;}
#symphony_hud .controls.top .block-controls .block_prev,
#symphony_hud .controls.top .block-controls .block_next{display: inline-block;width: 33%;font-size:150%;line-height: 1}
#symphony_hud .controls.top .block-controls .block_prev{float:left;}
#symphony_hud .controls.top .block-controls .block_next{float:right;}
#symphony_hud .controls.top .block-controls .block_close{line-height:1.85;font-size:120%;margin:-12px 0;background:transparent !important}



  @media (max-height:320px){
      #symphony_hud .pane.left.off.bottom{display:none}

  }


}

@media (max-width:399px){

#symphony_hud .controls.top .date .datepicker_icon,
#symphony_hud .controls.top .date .day_prev,
  #symphony_hud .controls.top .date .day_next{width:32%;}
}

#symphony_hud .sound_control a{text-decoration: none;color:#1dd2d4}
#symphony_hud .sound_control .icon-volume-2{display: none}
#symphony_hud .sound_control .icon-volume-off{display: inline}
#symphony_hud .sound_control.off .icon-volume-2{display: inline;color:rgba(255,255,255,0.5)}
#symphony_hud .sound_control.off .icon-volume-off{display: none}



#symphony {width:99.9%;mask:none;position: absolute;z-index: 0;top:-250px;-webkit-transition: top 2.5s;-moz-transition: top 2.5s; -o-transition: top 2.5s; transition: top 2.5s;}
#symphony.mask{mask: url('/static/assets/images/mask.png') center / cover;}
#symphony_hud{display: none;}
#stage{}
#page.home #symphony{position:fixed;top:0px;}
#page.home #symphony_hud{display:block;}





/*  */
