
.form-control{color:#aaa;}

p{line-height: 1.5;}



.roadmap .introduction-full {display:none}
.roadmap .introduction-small {display:block}
.roadmap.showintro .introduction-full {display:block}
.roadmap.showintro .introduction-small {display:none}

.roadmap .introduction-small p{margin:0 10px 8px 10px;opacity:0.7}


.roadmap .nav--lines .dot{display:inline-block;position:absolute;margin:-20px 0 0 -5px;border:0}
.roadmap .nav--lines .dot.active{border:2px solid #fff}

.roadmap .nav--lines {border-bottom:1px solid #409c9e; max-width:185px;margin:auto;background:url('/static/assets/images/timeline.svg') repeat-y right}
.roadmap .nav--line {background:url('/static/assets/images/timeline.svg') repeat-y left;height:20px;width:33.33%;display: inline-block;}

.roadmap  .timeline{background:url('/static/assets/images/timeline.svg') repeat-y center;padding:20px 0}

.roadmap .timeline.extra{margin-top:-132px;height: 150px;}
@media (max-width:1199px){
.roadmap .timeline.extra{margin-top:0px;height:40px;}
}


.roadmap  .timestamp{text-align: center;line-height: 2;font-size:300%;color:rgba(60,200,200,1);}

.roadmap--foot {font-size: 85%;margin:20px 0 10px 0}
.roadmap--foot *{vertical-align: middle}
.roadmap--foot h6{font-weight:300;letter-spacing:.15em;color:rgba(60,200,200,.4);margin:0 0 20px 0}
.roadmap--foot a{font-size: 93%;color:#fff;opacity:.3}
.roadmap--foot a:hover,.roadmap--foot a:focus{color:#fff;opacity:.6}
.roadmap--foot a em{font-size:340%;display: inline-block;margin:-20px 10px -20px 0}

.roadmap .item{clear:both;margin:0 0 0 0;padding:0px 0 52px 0;background:url('/static/assets/images/timeline.svg') repeat-y center;}
.roadmap .show-version-1 .version-1{display: block}
.roadmap .show-version-2 .version-2{display: block}
.roadmap .show-version-3 .version-3{display: block}
.roadmap .show-version-4 .version-4{display: block}

.roadmap .item .content .time{color:rgba(255,255,255,.7);line-height:1;position:relative;display: inline-block;font-size:100%;font-weight:400;font-style:italic}
.roadmap .item .content hr{margin:15px 20% 10px 0 !important;;float:none;clear:both;}
.roadmap .item .content .origin{opacity:0.3;margin:0 0 -5px 0}


.roadmap .item .content .icon{margin: 0 0 0 18px;display: none}


.roadmap .item .content{width:35%;display: inline-block;padding:12px 20px 20px 20px !important;;margin:0 0 0 6%;
  min-height:130px;background:rgba(23,28,48,0.9);border:0 solid rgba(255,255,255,0.3);padding:20px 20px;
  box-shadow: 0 0 3px rgba(255,255,255,0.4), 0 5px 10px rgba(18,23,38,0.6);
  -webkit-transition: opacity .5s;-moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}

.roadmap .item .content .glow{position: absolute;margin: -24px 0 0 -10px}






.roadmap .item .content h2 a{color:rgba(60,200,200,.7)}
.roadmap .item .content h2 a:hover{color:rgba(60,200,200,1);text-decoration:none}
.roadmap .item .content h2{font-size:116%;margin:5px 0;text-transform:uppercase;vertical-align: top;font-weight: 400}
.roadmap .item .content h2 .dot{position:absolute;vertical-align: top}
.roadmap .item .content h2 .dot.right{display:inline-block;margin:0 0 0 75px}

.roadmap .item .content ol,
.roadmap .item .content ul{margin:0 0 10px 15%;padding:0;text-align: left;}

.roadmap .item .content .desc .inner{overflow: hidden;-webkit-transition: max-height .5s;-moz-transition: max-height .5s; -o-transition: max-height .5s; transition: max-height .5s;}


.roadmap .item .link {width: 120px;border-top:1px solid #1dd2d4;margin:62px 0 -60px 453px;position:absolute;text-align:center;}
.roadmap .item .link img{position: absolute;margin:-8px 0 0 -16px}
.roadmap .item .link:before,
.roadmap .item .link:after{content:"•";float:right;display:inline-block;line-height:1px;color:#1dd2d4;margin:-2px -2px 0 0;font-size:140%}
.roadmap .item .link:before{float:left;margin:-2px 0 0 -2px}

@media (max-width:1199px){
.roadmap .item .link {width: 106px;margin:62px 0 -60px 365px;}
}
@media (max-width:991px){
.roadmap .item .link {width:87px;margin:62px 0 -60px 275px;}
}
@media (max-width:767px){
.roadmap .item .link {width:110px;margin:27px 0 0px -45px;}
}
@media (max-width:560px){
.roadmap .item .link {width:31px;margin:47px 0 0px -15px;}
}


.roadmap img.milestone{font-size:20px;color:rgba(255,255,255,03);margin:auto}

.roadmap .milestone{text-align: center;}
.roadmap .milestone img{padding:3px;border:1px solid rgba(60,200,200,.7)}
.roadmap h1.milestone {font-size:24px;padding:12px 35px 22px 35px;}
.roadmap h1.milestone a{color:rgba(60,200,200,1);}
.roadmap h1.milestone a:hover{color:rgba(70,220,220,1);}
.roadmap .milestone.desc{font-size:13px;padding:15px 0 20px 0;text-align:center;}
.roadmap .milestone.desc span{display: inline-block;max-width:850px;opacity:0.7}

.roadmap h1.milestone span{line-height: 28px;padding:17px 35px;border-bottom:1px dashed rgba(60,200,200,.5)}

.roadmap .item.milestone .content .time{font-size: 85%;text-transform:none;margin:-2px -150px 0 0;text-align: center;font-weight:300;width: 60px}
.roadmap .item.milestone .content .time .year{font-size:65%;letter-spacing: .1em;font-weight:300;line-height: 1.5;display: block}

.roadmap .item.milestone.notitle .content .desc{margin:-18px 0 0 0}


.roadmap .item h2{padding:35px 0 1em 35px;font-size:100%;text-transform:uppercase;font-weight:400;letter-spacing:0.1em;text-align: right}


@media (max-width:1199px){
  .roadmap .item .link img{margin:-8px 0 0 -13px}

}
@media (max-width:991px){
  .roadmap .item .link img{margin:-8px 0 0 -15px}
}


@media (max-width:767px){
  .roadmap .item h2{padding:0px 0 1em 3px;margin:0}
  .roadmap .item .link img{margin:-8px 0 0 -17px}
}

@media (max-width:560px){
  .roadmap .item h2{padding:20px 0 12px 10px;}
  .roadmap .item .link img{margin:-6px 0 0 -6px;width:11px;height:11px;}
  .roadmap .item .link:before,  .roadmap .item .link:after {display:none}

}

.roadmap .item .content .icon{width:40px;height:40px;position:absolute;margin:-10px 0 0 -60px;display: none}

.roadmap .item .content .icon .fa-twitter{font-size: 250%;color:#1DA1F2}



.roadmap .item .content .desc .inner .cont{display: none;padding:0 0 0 12%}
.roadmap .item .content .desc.opened .inner .summary{display: none}
.roadmap .item .content .desc.opened .inner .cont{display: block}

.roadmap .item .content .desc .opener{display:inline-block;width:auto;padding:8px 0;margin:-35px 0 6px 0px;color:rgba(255,255,255,0.5);position:absolute;text-decoration: none}
.roadmap .item .content .desc .opener .fa-chevron-up{display: none}

@media (min-width:768px){
  .roadmap .item .content .desc .opener{;margin:-35px 0 6px -10px;}
}


.roadmap .item.item-symphony-cl .content .desc .opener{margin:-35px 0 6px 0px;}


.roadmap .item .content .desc.opened .opener .fa-chevron-down{display: none}
.roadmap .item .content .desc.opened .opener .fa-chevron-up{display: inherit}


.roadmap .item .content .symphony .logo {width:30px;height:30px;display:inline-block;vertical-align: middle;background:url('/static/assets/images/ico-symphony.svg');background-size:contain;margin-left:0px;}
.roadmap .item .content .symphony.emurgo .logo {display:inline-block;vertical-align: middle;background:url('/static/assets/images/emurgo.svg');background-size:contain;margin-left:0px;}
.roadmap .item-daedalus .content .symphony .logo {background:url('/static/assets/images/ico-daedalus.svg');background-size: contain;}

.roadmap .item .content .symphony {font-weight: 400;vertical-align: middle;line-height:auto;opacity:.6;font-size:85%;position:relative;margin:5px 0 0 240px;width: 170px;text-align: left;}
.roadmap .item.noexpand .content .symphony {margin:5px 0 0 0px;text-align:right;width:auto}


.roadmap .item .spacer{height:15px}
.roadmap .item.milestone .spacer{height:0px}

.roadmap .item {max-width:1200px;-webkit-transition: max-height .5s,padding .5s;-moz-transition: max-height .5s,padding .5s; -o-transition: max-height .5s,padding .5s; transition: max-height .5s,padding .5s;}
.roadmap .item.out {max-height:0px;max-width:0px;overflow:hidden;padding:0}
.roadmap .item.out .time,
.roadmap .item.out .dot{display: none !important;}


.roadmap .item .attributes{text-align:right;float:left;width:40%;margin:0 6% 0 4%;padding:0 0 0 20px;vertical-align: middle}
.roadmap .item .attributes .links{display: inline-block;color:rgba(65,155,155,0.5)}
.roadmap .item .attributes a{background:#fff;color:#333;font-size:130%;vertical-align: middle;border-radius:50px;display: inline-block;width:30px;height:30px;line-height:30px;text-align: center;display: inline-block;margin: 5px}
.roadmap .item .attributes .author a{background:transparent;padding:0px;width:44px;height:44px;line-height:40px;border:1px solid rgba(65,155,155,1)}
.roadmap .item .attributes .author a img{}
.roadmap .item .attributes .author .left{display:none}
.roadmap .item .attributes .author .right{display:inherit}

.roadmap .item.milestone .attributes{padding:25px 0 0 20px;}


.roadmap .item .attributes .fa{line-height:28px}
.roadmap .item .attributes .github{font-size:260%;background:transparent;color:#fff}
.roadmap .item .attributes .github .fa{line-height:28px}
.roadmap .item .attributes .reddit{font-size:240%;background:transparent;color:#fff}
.roadmap .item .attributes .reddit .fa{line-height:28px}
.roadmap .item .attributes .slack {font-size: 150%}
.roadmap .item .attributes .slack .fa {line-height: 30px;width:31px;}


.roadmap .item.owners-toomany .attributes .links a{line-height: 1.5}
.roadmap .item.owners-toomany .attributes .author{width:100%;padding:0 0 15px 0}
.roadmap .item.owners-toomany .attributes .author__dash{display:none !important}



.roadmap .item .attributes .state{margin:25px 5px 0 5px}
.roadmap .item .attributes .state {width:225px;text-transform: uppercase;font-size: 85%;text-align: left;display: inline-block;}
.roadmap .item .attributes .state h5{color:rgba(255,255,255,0.5);}
.roadmap .item .attributes .state h5 .val{font-size:130%;float:right}
.roadmap .item .attributes .state .bar{height:3px;background:rgba(65,155,155,0.2)}
.roadmap .item .attributes .state .bar .done{height:3px;background:rgba(65,155,1,0.5);width:0;filter:blur(1px);
background: #007486; /* Old browsers */
background: -moz-linear-gradient(left, #007486 0%, #c9c738 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #007486 0%,#c9c738 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #007486 0%,#c9c738 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007486', endColorstr='#c9c738',GradientType=1 ); /* IE6-9 */
}


@media (min-width:992px) and (max-width:1199px){
.roadmap .item .content .symphony {margin:5px 0 0 140px}
}


@media (max-width:991px) and (min-width:768px){
.roadmap .item .content .symphony {margin:5px 0 0 30px}

.roadmap .item .links .author .author__dash,
.roadmap .item .links .dash{display:none !important}

.roadmap .item .content h2{padding-left:0}
.roadmap .item.item-symphony-cl .content h2{padding-right:0}

.roadmap .item .content .desc .inner .summary{padding:0}
.roadmap .item.item-symphony-cl .content .desc .inner .summary{padding:0}
}



@media (max-width:1199px){
.roadmap .item .attributes{width:40.3%;}
}
@media (max-width:991px){
.roadmap .item .attributes{width:40%;margin-right: 7%}

.nav--wrapper li{margin:0 20px 0 20px;}
.roadmap .nav--lines {max-width:170px;}

}

@media (max-width:767px){
.top .banner{padding:150px 40px 30px 40px;text-align:left}
.top .langs {padding:5px 0;line-height: 2}
.top .langs li{margin:0 15px 0 0 }

.roadmap .item .attributes{width:43%;float:none}

.roadmap .item .content .desc .opener{;margin:-35px 0 6px 215px;}

.roadmap .item .content{margin:20px 30px 0 60px;min-width: auto;width: auto !important;}



.nav--wrapper li{margin:0 0px 0 0px}
.roadmap .nav--lines {max-width:170px;}

.roadmap .item,
.roadmap .timeline{background:url('/static/assets/images/timeline.svg') repeat-y left;margin:0 42px}



.roadmap  .timestamp{text-align: left}

.roadmap .nav--lines{display: none}

.roadmap .item .content,
.roadmap .item .attributes{width:100%;text-align:left;display:block;}

.roadmap h1.text-center{text-align: left}


.roadmap h1.milestone{padding:10px 0 10px 0;}
.roadmap h1.milestone span{padding:10px 40px;}

.roadmap .milestone,
.roadmap .milestone span{text-align: left}
.roadmap .img.milestone span{margin:0 0 0 35px}
.roadmap p.milestone span{margin:0 0 0 40px}


.roadmap .item .content .desc .inner .summary{padding:0 0 0 0}



.roadmap .item.milestone .content .time{margin:-30px -200px 0 0px !important;color:rgba(255,255,255,.6);position:static;text-align: left}

.roadmap .item.milestone.time .content .origin{margin:-25px 0 20px 0 }

.roadmap .item.milestone .attributes{padding: 0 0 25px 70px;margin:-10px 0 0 0}



.roadmap .item .content h2 .dot.right{display:none;margin:0 0 0 14px}
.roadmap .item .content h2 .dot.left{display:inline-block;margin:3px 0 0 -85px}



.roadmap .item .content ol,
.roadmap .item .content ul{padding:0;}
.roadmap .item .content .desc .inner .cont{padding:0}

.roadmap .item .spacer{height:10px}

.roadmap .item .attributes .state{margin:10px 0 0 3px}
.roadmap .item .attributes {padding:20px 0 0 55px;}

.roadmap .item .content .symphony{margin:5px 0 0 0px;text-align:left}
.roadmap .item.noexpand .content .symphony {margin:5px 0 0 0px;text-align:left;}

}

@media (max-width:560px){
.roadmap .item,
.roadmap  .timeline{margin:0 5px}

.top .banner{padding:150px 5px 30px 5px;}
.roadmap .item .content .desc .opener{margin:-35px 0 6px 0px;}

.roadmap .item .content {padding:20px 0 0 13px;margin: 20px 30px 0 35px;}
.roadmap .item .attributes {padding:20px 0 0 10px;}
.roadmap .item .content .icon{margin:-85px 0 0 25px}

.roadmap .item .content .symphony{margin:5px 0 0 95px}

.roadmap .item.milestone .attributes{padding: 0 0 25px 10px;}

.roadmap h1.milestone{font-size:20px;color:rgba(60,200,200,1);margin:0}
.roadmap h1.milestone span{line-height: 28px;padding:10px 5px;border:0}

.roadmap .img.milestone span{margin:0 0 0 0px}
.roadmap p.milestone span{margin:0 0 0 5px}


}






.links .nolastjoin:last-of-type {
  display:none;
}


.gallery-thumbnail {
  margin-top: 5px;
  margin-right:5px;
  float:left;
  width:auto;
  height:75px;
  border-radius:4px;
  opacity: 0.8;
  border:2px solid #59999a;
}
.gallery-thumbnail:hover {
  cursor:pointer;
  opacity: 1;
}

.imageButton:hover {
  transform: scale(1.1);
  transition:0.33s;
}

.imageButton {
  -webkit-transition: transform .33s;
  transform: scale(1)
  transition:0.33s;
}

.hidden {
    display: none;
}

.attributes .new_label img {margin-top:-8px;width:55px;height: auto;}


#nav--main {display: none}

.navbar .noscript {
      width:100%;
      height:200px; /* will cover the text displayed when javascript is enabled*/
      z-index:100000; /* higher than other z-index */
      position:relative;
   }
.navbar .noscript #div100{
       display:block;
       height:100%;
       background-color:#d5332c;
       color:#ffffff;
       text-align: center;
       height:50px;
       padding-top:15px;
   }


.nothing{}
