---
layout: page-team
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{page.defaultlink | slugify }}">

    {% include header.html %}

    <div id="middle" class="middle">
      <div id="main" class="container-fluid">

        {% include ui-gource.html %}

        <div class="intro box bigger">
          <div class="fader">

            <div class="block title text-center uppercase"><h1><a href="/"><span class="site">{{site.title}}</span><span class="dot"> • </span><b class="title">{{page.title}}</b></a></h1></div>

            <div class="roadmap {{page.defaultlink | slugify }}">

            <div class="container">

              <div class="col-lg-20 col-lg-offset-2 text-center">

                <div class="timeline extra nomobile"></div>

                <div id="team-load" class="ready">


                    {% assign items = site.pages | sort: 'order' %}
                    {% for member in items %}
                        {% if member.parent == 'team' %}

                            <div class="profile team {{member.key}} smaller">
                                <div class="img">
                                <div class="link"><img src="/static/assets/images/circle.svg" class="circle" alt="" /></div>
                                  <!--<a href="//iohk.io/team/{{member.key}}" class="ajaxhref profile-link" rel="" title="{{member.title}}" target="_blank">-->
                                    <img src="//iohk.io/{{member.thumbnail}}" alt="" class="img-circle fullwidth" style="">
                                  <!--</a>-->
                                </div>
                                <div class="content">
                                  <span class="glow nomobile"><img src="/static/assets/images/glow.png" alt="" /></span>
                                  <h2 class="mobile-center">
                                    <!--<a href="//iohk.io/team/{{member.key}}" rel="30" class=" profile-link" title="IOHK profile of {{member.title}}" target="_blank">-->
                                      {{member.title}}
                                    <!--</a>-->
                                  </h2>
                                  <div class="role">{{member.role}}</div>
                                  <hr />
                                  <div id="info-{{member.key}}" class="info">
                                    <div class="summary">
                                      {% assign description = member.content | strip_html %}
                                      {% assign description = description | strip_newlines %}
                                      {% assign description = description | slice: 0,300 %}
                                      {% assign description = description | append: " ..." %}
                                      <p>{{description}} <a href="javascript:io_class_toggle('#info-{{member.key}}','full')">Show more <em class="icon-arrow-down"></em></a></p>
                                    </div>
                                    <div class="full">
                                      {{member.content}}
                                      <p><a href="javascript:io_class_toggle('#info-{{member.key}}','full')">Show less <em class="icon-arrow-up"></em></a></p>
                                    </div>
                                  </div>








                                  <hr />
                                  <div class="social">{% include ui-social.html item=member %}</div>

                                </div>
                                <div class="clear"></div>
                            </div>

                        {% endif %}
                    {% endfor %}







                </div><!-- .timeline -->


              </div>


              <div class="clear"></div>


            <div class="countdown--wrap none">

            </div>



              <div class="roadmap--foot uppercase text-center">
                <!--<h6 class="">Learn More</h6>-->

                <!--<a href="https://iohk.io/projects/cardano/" target="_blank" class="btn bnt-default rounded"><img src="/images/ico-cardano.svg" alt="" /> Cardano Project</a>
                <a href="https://github.com/input-output-hk/cardano-sl" target="_blank" class="btn bnt-default rounded"><em class="fa fa-github"></em> Cardano SL </a>
                <a href="https://iohk.io/research/papers/#9BKRHCSI" target="_blank" class="btn bnt-default rounded"><img src="/images/ico-ouroboros.svg" alt="" /> Ouroboros Algorithm</a>
                <a href="https://iohk.io/" target="_blank" class="btn bnt-default rounded"><img src="/images/ico-research.svg" alt="" /> Input Output</a>-->

              </div>

            </div>
            </div><!-- .roadmap -->

          </div>
        </div>

        {% include nav-footer.html %}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
