---
layout: page-home
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body >

    {% include header.html %}

    <div id="middle" class="middle">
      <div id="main" class="container-fluid">


        <div class="intro box">
          <div class="fader">

            <div class="block title text-center uppercase"><h1><a href="/"><span class="site">{{site.title}}</span><span class="dot"> • </span><b class="title">{{page.title}}</b></a></h1></div>


            <div id="entry" class="out opa0">

            </div>


            <iframe id="symphony-2" width="100%" height="100%" src="https://input-output-hk.github.io/symphony-2/"></iframe>

                                  <div id="symphony_hud" class=""></div>

                                  <!-- <div id="symphony" class="ready waiting mask">
                                    <div class="text-center preloader" style="padding:150px 0">

                                    </div>
                                  </div> -->


          </div>
        </div>


      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
