---
layout: page-about
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{page.defaultlink | slugify }}">

    {% include header.html %}

    <div id="middle" class="middle">
      <div id="main" class="container-fluid">

        {% include ui-gource.html %}

        <div class="intro box bigger">
          <div class="fader">
            <div class="block title text-center uppercase"><h1><a href="/"><span class="site">{{site.title}}</span><span class="dot"> • </span><b class="title">{{page.title}}</b></a></h1></div>

            <div class="{{page.defaultlink | slugify }}">
              <div class="container">
                <div class="entry centerline">

                  <div class="item top"></div>

                  <h2>The Blockchain as art</h2>

                  <blockquote>
                    <p>The Symphony project began with a question: how do we represent blockchain technology in a way that is stimulating,
                       entertaining, and audio-visually engaging for a wider audience, technical and non-technical. In other words, how 
                       do we explain the abstract and give form to the formless. Starting as a single project, Symphony has grown to become 
                       several creative initiatives. </p>
                  </blockquote>
                  <br><br>

                  <div class="item text-center">

                      <iframe width="684" height="371" src="https://www.youtube.com/embed/gyo5BQjA5OE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <!-- <div class="gallery">
                    <div class="thumbnails">
                      <div class="thumbnail">
                        <a href="#" class="iohk_video_load_modal" rel="_Xw-0ANS2X0"><img src="/static/assets/images/intro-video.jpg" alt="" width="660" height="300" /></a>
                        <caption>IOHK | Symphony of Blockchains Meetup in London</caption>
                      </div>
                    </div>
                  </div> -->

                  </div>

                  <div class="clear"></div>

                  <br><br>

                  <h2>Symphony 2.0 by IOHK</h2>

                  <div class="item day-view">
                    <div class="hr"><img src="/static/assets/images/circle.svg" class="circle" alt="" /></div>
                    <div class="info">
                      <!-- <h3>Day View</h3> -->
                      <p>IOHK is responsible for Symphony 2.0: an interactive 3D explorer that allows users to traverse the topographic history of the Bitcoin blockchain. Symphony 2.0 visualizes the blockchain’s mempool – where unconfirmed transactions are stored – as a gravitational swell, around which confirmed transactions spiral in concentric rings. Users can explore these rings block-by-block, from the first transaction confirmed to the most recent.</p>
                      <p>Symphony 2.0 also has a virtual reality component developed for Vive using WebVR. This has been exhibited at past events and will be available to experience throughout the Symphony world tour. </p>
                    </div>

                    <div class="gallery">
                      <h5>Preview</h5>
                      <div class="thumbnails">
                        <div class="thumbnail">
                          <img src="/static/assets/images/day-view.jpg" alt="" width="330" height="193" />
                        </div>
                      </div>
                    </div>

                    <div class="clear"></div>

                  </div><!--item-->



                  <div class="item block-view">
                    <div class="hr"><img src="/static/assets/images/circle.svg" class="circle" alt="" /></div>
                    <div class="info">
                      <h3>Symphony 2.0: How It Works</h3>
                      <p>Giving feeling to data isn’t easy, but telling a good story requires an emotional connection. </p>
                      <p>To achieve this, we used a technique called additive synthesis to generate sound on the fly, and utilized the parallel nature of graphics cards to synthesize a sound for each of the thousands of transactions that can make up a block. The unique sound signature that plays when you visit a block consists of each transaction producing eight sine waves (a fundamental pitch and seven harmonics). The fundamental pitch is determined by the transaction value, and the amount of randomness added to the harmonics partials is controlled by the fee-to-value ratio of the transaction.</p>
                      <p>The volume of the harmonic partials, meanwhile, is determined by the spent-to-unspent output ratio. This creates a range of sound that communicates the health of the block: a virtual heartbeat that codifies the volume of transactions and the number of transactions unspent.</p>
                    </div>

                    <div class="gallery">
                      <h5>Preview</h5>
                      <div class="thumbnails">
                        <div class="thumbnail">
                          <img src="/static/assets/images/block-angle.jpg" alt="" width="330" height="193" />
                          <caption>Merkle Tree View</caption>
                        </div>
                      </div>
                    </div>

                    <div class="clear"></div>

                  </div> 
                  <!--item-->

                  <h2>Symphony by Kuva</h2>

                  <div class="item background-audio mirrored">
                    <div class="hr"><img src="/static/assets/images/circle.svg" class="circle" alt="" /></div>

                    <div class="info">
                      <!-- <h3>Background audio</h3> -->
                      <p>Kuva is a boutique creative agency based in the UK, and is responsible for developing the virtual and augmented reality pieces for Symphony’s events and exhibitions. These experiences augment specific components of the blockchain using Symphony’s code. </p>
                      <p>Kuva also develops the Symphony mobile app: a 3D visualization of the blockchain’s mempool that provides real-world information on the current traffic and fee of the network. The Symphony mobile app currently supports the Bitcoin network, but will soon extend to second-generation (Ethereum) and third-generation (Cardano) blockchains. </p>
                    </div>
                    <div class="gallery">
                        <h5>Preview</h5>
                        <div class="thumbnails">
                          <div class="thumbnail">
                            <img src="/static/assets/images/mempool.jpg" alt="" width="330" height="193" />
                            <caption>The Mempool</caption>
                          </div>
                        </div>
                      </div>

                    <div class="clear"></div>

                  </div><!--item-->



                  <!-- <div class="item block-audio mirrored">
                    <div class="hr"><img src="/static/assets/images/circle.svg" class="circle" alt="" /></div>
                    <div class="info">
                      <h3>Block Audio</h3>
                      <p>Clicking on a block pulls it into view, displaying its underlying Merkle tree. It then proceeds to play a tone for each of the transactions in the block, relative to the time they were made. The generative audio follows these rules:</p>
                      <ul>
                        <li>The transaction notes are set to loop for 4 bars each and the notes are quantized to the nearest 16th note, to give a sense of musicality and rhythm.</li>
                        <li>Each block is assigned a unique musical mode https://en.wikipedia.org/wiki/Mode_(music), which is determined by the block hash. The notes are selected from this mode based on the transaction value, larger values = lower frequency, smaller values = higher frequency.</li>
                        <li>The size (number of bytes) of the transaction determines the note velocity (how loud).</li>
                        <li>The ratio of the fee sent with the transaction to the total transaction value is used to control the distortion of the tones. This fee-to-value ratio is a rough indicator of the health of the network at the time the transaction was made. If the network is under strain, users tend to send higher fees with their transaction so that they are processed more quickly.</li>
                      </ul>
                      <p>Through each of these parameters, the listener can gain insights into the data and understand it in a different way.</p>
                    </div>

                    <div class="gallery">
                      <h5>Preview</h5>
                      <div class="thumbnails">
                        <div class="thumbnail">
                          <img src="/static/assets/images/merkle-tree.jpg" alt="Merkle tree" width="320" height="267" />
                          <caption>Merkle tree</caption>
                        </div>
                      </div>
                    </div>

                    <div class="clear"></div>

                  </div> -->
                  <!--item-->


                  <!-- <div class="item midi mirrored">
                    <div class="hr"><img src="/static/assets/images/circle.svg" class="circle" alt="" /></div>

                    <div class="info">
                      <h3>Midi Functionality</h3>
                      <p>For web browsers that support Web Midi (currently Google Chrome), you can send bitcoin transaction note data to your external hardware or digital audio workstation. This opens up creative avenues for musicians and technologists to use the data to create innovative and exciting work, underpinned by blockchain data. If you hear a musical pattern in a block that you particularly like, route the Midi to your hardware and record the sequence, or use the Symphony of Blockchain as a live instrument on stage.</p>
                    </div>

                    <div class="gallery">
                      <h5>Preview</h5>
                      <div class="thumbnails">
                        <div class="thumbnail">
                          <img src="/static/assets/images/midi-out.jpg" alt="Midi out" />
                          <caption>Midi out</caption>
                        </div>
                        <div class="thumbnail">
                          <img src="/static/assets/images/midi-channels.jpg" alt="Midi channels" />
                          <caption>Midi channels</caption>
                        </div>
                      </div>
                    </div>

                    <div class="clear"></div>

                  </div> -->
                  
                  <!--item-->

                  <h2><a href="https://github.com/input-output-hk/symphony-2" target="_blank">Get Involved</a></h2>

                  <blockquote>
                    <p>Access the <a href="https://github.com/input-output-hk/symphony-2" target="_blank">Symphony GitHub repo</a> to learn more about Symphony’s development, or build your own version using Symphony’s open-source code.</p>
                  </blockquote>

                  <div class="item final">
                    <div class="tit inline-block">Symphony 2019</div>
                    <div class="hr"></div>
                    <div class="github inline-block"><a href="https://github.com/input-output-hk/symphony-2" target="_blank"><em class="fa fa-github"></em></a></div>
                  </div>

                </div><!-- .entry -->
              </div>
            </div>
          </div>
        </div>

        {% include nav-footer.html %}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
