---
layout: default
---
<div id="middle" class="middle">
    <div id="main" class="container">

               <div id="io_loader">
                   <div id="io_load">
                        <div class="title_block">

	                        <h1 class=""><span class="title">{{ page.title }}</span></h1>

	                    </div>

                        <div class=" fader">
                            <div class="post">
                                <div class="entry" title="{{ page.title }}">
                                    <div class="text">

                                        {{ content }}
                                        <br><br><br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
</div>
